In [4]:
import pandas as pd
import numpy as np

# Creating a dataframe form an array

In [5]:
# create an array
data = np.array([[1,2],[3,4],[5,6]])
data

array([[1, 2],
       [3, 4],
       [5, 6]])

In [6]:
#  create a dataframe with custom row and col names from NUMPY array
df = pd.DataFrame(data, index = ['row1', 'row2', 'row3'], columns = ['col1', 'col2'])
df

      col1  col2
row1     1     2
row2     3     4
row3     5     6

In [8]:
#  create a dataframe with custom row and col names from NUMPY array
data = ([[1,2],[3,4],[5,6]])
df = pd.DataFrame(data, index = ['row1', 'row2', 'row3'], columns = ['col1', 'col2'])
df

      col1  col2
row1     1     2
row2     3     4
row3     5     6

In [19]:
# create a dataframe from dictionary
state = ['California', 'Colorado', 'Connecticut']
population = [3000, 50000, 79999]
data = {"States": state,
        "population": population}
df = pd.DataFrame(data)
df

        States  population
0   California        3000
1     Colorado       50000
2  Connecticut       79999