In [1]:
import pandas as pd

In [2]:
df_cars = pd.read_csv('Car_sales.csv')
df_cars

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [3]:
df_cars = df_cars[['Manufacturer', 'Model', 'Sales_in_thousands', 'Vehicle_type',
                   'Price_in_thousands', 'Engine_size', 'Horsepower', 'Fuel_capacity']]

In [4]:
df_cars.agg('sum')

Manufacturer          AcuraAcuraAcuraAcuraAudiAudiAudiBMWBMWBMWBuick...
Model                 IntegraTLCLRLA4A6A8323i328i528iCenturyRegalPar...
Sales_in_thousands                                             8320.698
Vehicle_type          PassengerPassengerPassengerPassengerPassengerP...
Price_in_thousands                                             4245.567
Engine_size                                                       477.5
Horsepower                                                      29008.0
Fuel_capacity                                                    2800.5
dtype: object

In [5]:
df_cars.agg(['sum', 'max', 'min'])

,Manufacturer,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
sum,AcuraAcuraAcuraAcuraAudiAudiAudiBMWBMWBMWBuick...,IntegraTLCLRLA4A6A8323i328i528iCenturyRegalPar...,8320.698,PassengerPassengerPassengerPassengerPassengerP...,4245.567,477.5,29008.0,2800.5
max,Volvo,Xterra,540.561,Passenger,85.500,8.0,450.0,32.0
min,Acura,3-Sep,0.110,Car,9.235,1.0,55.0,10.3

In [6]:
df_cars['Horsepower'].agg('min')

55.0

In [7]:
df_cars['Price_in_thousands'].agg(['max', 'min', 'mean'])

max     85.500000
min      9.235000
mean    27.390755
Name: Price_in_thousands, dtype: float64

In [8]:
df_cars

,Manufacturer,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
0,Acura,Integra,16.919,Passenger,21.50,1.8,140.0,13.2
1,Acura,TL,39.384,Passenger,28.40,3.2,225.0,17.2
2,Acura,CL,14.114,Passenger,NaN,3.2,225.0,17.2
3,Acura,RL,8.588,Passenger,42.00,3.5,210.0,18.0
4,Audi,A4,20.397,Passenger,23.99,1.8,150.0,16.4
...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,Passenger,24.40,1.9,160.0,15.8
153,Volvo,S70,15.245,Passenger,27.50,2.4,168.0,17.9
154,Volvo,V70,17.531,Passenger,28.80,2.4,168.0,17.9
155,Volvo,C70,3.493,Passenger,45.50,2.3,236.0,18.5
156,Volvo,S80,18.969,Passenger,36.00,2.9,201.0,21.1

In [9]:
df_cars.agg({'Sales_in_thousands': 'max',
             'Price_in_thousands': ['sum', 'mean'],
             'Engine_size': 'mean'}
            )

      Sales_in_thousands  Price_in_thousands  Engine_size
max              540.561                 NaN          NaN
sum                  NaN         4245.567000          NaN
mean                 NaN           27.390755     3.060897

In [10]:
df_cars.set_index('Manufacturer')

,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,,,
Acura,Integra,16.919,Passenger,21.50,1.8,140.0,13.2
Acura,TL,39.384,Passenger,28.40,3.2,225.0,17.2
Acura,CL,14.114,Passenger,NaN,3.2,225.0,17.2
Acura,RL,8.588,Passenger,42.00,3.5,210.0,18.0
Audi,A4,20.397,Passenger,23.99,1.8,150.0,16.4
...,...,...,...,...,...,...,...
Volvo,V40,3.545,Passenger,24.40,1.9,160.0,15.8
Volvo,S70,15.245,Passenger,27.50,2.4,168.0,17.9
Volvo,V70,17.531,Passenger,28.80,2.4,168.0,17.9
Volvo,C70,3.493,Passenger,45.50,2.3,236.0,18.5
Volvo,S80,18.969,Passenger,36.00,2.9,201.0,21.1

In [11]:
df_cars[['Sales_in_thousands', 'Price_in_thousands']].agg('sum',axis=1)

0      38.419
1      67.784
2      14.114
3      50.588
4      44.387
        ...
152    27.945
153    42.745
154    46.331
155    48.993
156    54.969
Length: 157, dtype: float64

In [12]:
df_cars['Sales_in_thousands'] + df_cars['Price_in_thousands']

0      38.419
1      67.784
2         NaN
3      50.588
4      44.387
        ...
152    27.945
153    42.745
154    46.331
155    48.993
156    54.969
Length: 157, dtype: float64

In [13]:
vehicle_type_car = df_cars['Vehicle_type'] == 'Car'
vehicle_type_passanger = df_cars['Vehicle_type'] == 'Passanger'

In [14]:
df_cars[vehicle_type_car][['Engine_size', 'Horsepower']].agg('sum')

Engine_size     140.8
Horsepower     7456.0
dtype: float64

In [15]:
df_bikes = pd.DataFrame(
    {'Name':['Honda', 'Yamaha'],
     'Model': ['Hornet', 'FRX']
     }
)

In [16]:
df_bikes = df_bikes.set_index('Name')

In [17]:
df_bikes['Year'] = [1992,2000]

In [18]:
df_bikes

         Model  Year
Name
Honda   Hornet  1992
Yamaha     FRX  2000

In [19]:
df_bikes['Year'] = [2020,2022]

In [20]:
df_bikes

         Model  Year
Name
Honda   Hornet  2020
Yamaha     FRX  2022

In [39]:
df_cars.groupby('Vehicle_type').min()

,Manufacturer,Model,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Vehicle_type,,,,,,,
Car,Cadillac,4Runner,9.126,11.528,2.0,119.0,15.1
Passenger,Acura,3-Sep,0.110,9.235,1.0,55.0,10.3

In [49]:
df_cars.groupby('Manufacturer').max().sort_values('Price_in_thousands', ascending = False)

,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,,,
Mercedes-B,SLK230,28.976,Passenger,85.500,5.0,302.0,23.2
Porsche,Carrera Coupe,8.982,Passenger,74.970,3.4,300.0,17.0
Dodge,Viper,227.061,Passenger,69.725,8.0,450.0,32.0
Audi,A8,20.397,Passenger,62.000,4.2,310.0,23.7
Lexus,RX300,51.238,Passenger,60.105,4.7,300.0,25.4
Toyota,Tacoma,247.994,Passenger,51.728,4.7,230.0,25.4
Cadillac,Seville,63.729,Passenger,46.225,5.7,275.0,30.0
Chevrolet,Prizm,145.519,Passenger,45.705,5.7,345.0,19.1
Volvo,V70,18.969,Passenger,45.500,2.9,236.0,21.1
Lincoln,Town car,48.911,Passenger,43.330,5.4,300.0,30.0
Plymouth,Voyager,32.734,Passenger,43.000,3.5,253.0,20.0
Jaguar,S-Type,15.467,Passenger,42.800,3.0,240.0,18.4
Acura,TL,39.384,Passenger,42.000,3.5,225.0,18.0
BMW,528i,19.747,Passenger,38.900,2.8,193.0,18.5
Oldsmobile,Silhouette,80.255,Passenger,36.229,4.3,250.0,25.0
Ford,Windstar,540.561,Passenger,36.135,4.6,240.0,26.0
Saab,5-Sep,12.115,Passenger,33.120,2.3,185.0,18.5
Buick,Regal,91.561,Passenger,31.965,3.8,240.0,18.5
Mitsubishi,Montero Sport,55.616,Passenger,31.807,3.5,210.0,24.3
Infiniti,I30,23.713,Passenger,29.465,3.0,227.0,18.5
Nissan,Xterra,88.094,Passenger,29.299,3.3,222.0,21.0
Chrysler,Town & Country,53.480,Passenger,29.185,3.5,253.0,17.0
Mercury,Villager,81.174,Passenger,27.560,4.6,210.0,21.0
Jeep,Wrangler,157.040,Car,26.895,4.0,195.0,20.5
Honda,Passport,230.902,Passenger,26.600,3.5,210.0,21.1
Pontiac,Sunfire,131.097,Passenger,25.635,3.8,205.0,25.0
Subaru,Outback,47.107,Passenger,22.695,2.5,165.0,16.9
Volkswagen,Passat,83.721,Passenger,21.200,2.0,150.0,16.4
Saturn,SW,80.620,Passenger,18.835,2.2,137.0,13.1
Hyundai,Sonata,66.692,Passenger,14.999,2.4,148.0,17.2

In [53]:
df_cars.groupby('Manufacturer').mean('Manufacturer')

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,
Acura,19.751250,30.633333,2.925000,200.000000,16.400000
Audi,13.519000,39.980000,2.933333,220.000000,19.533333
BMW,15.501667,33.096667,2.700000,185.333333,17.233333
Buick,60.504750,26.781250,3.625000,206.250000,17.750000
Cadillac,22.435600,40.254000,4.500000,256.000000,20.800000
Chevrolet,61.596111,20.022778,3.055556,171.111111,15.477778
Chrysler,28.817286,23.430833,2.783333,194.833333,16.483333
Dodge,82.740818,24.213636,3.709091,199.545455,21.581818
Ford,183.875909,21.047273,3.327273,170.090909,19.063636
Honda,118.534800,20.277000,2.520000,160.400000,17.080000
Hyundai,45.775333,12.165667,1.966667,126.666667,14.533333
Infiniti,23.713000,29.465000,3.000000,227.000000,18.500000
Jaguar,15.467000,42.800000,3.000000,240.000000,18.400000
Jeep,97.717667,20.991667,3.500000,168.333333,19.833333
Lexus,17.807167,44.055000,3.616667,245.833333,20.533333
Lincoln,28.544667,41.690000,4.866667,263.333333,23.000000
Mercedes-B,13.013889,52.916667,3.422222,232.222222,18.922222
Mercury,39.666500,20.748333,3.150000,163.833333,17.833333
Mitsubishi,25.842143,22.167429,2.800000,165.142857,18.285714
Nissan,57.090714,22.360714,2.914286,169.000000,18.200000
Oldsmobile,29.831500,25.622833,3.450000,190.000000,18.200000
Plymouth,16.000250,22.642500,2.475000,166.750000,15.125000
Pontiac,61.755667,22.949167,3.433333,185.000000,17.916667
Porsche,4.042667,62.473333,3.166667,272.333333,17.000000
Saab,10.653000,29.610000,2.150000,177.500000,17.700000
Saturn,33.770000,14.271000,2.020000,119.600000,12.500000
Subaru,40.067500,21.395000,2.500000,165.000000,16.400000
Toyota,82.245000,21.982889,2.622222,160.666667,17.766667
Volkswagen,34.868667,17.698333,1.966667,120.833333,14.700000
Volvo,12.623333,30.933333,2.300000,182.166667,17.833333

In [55]:
df_cars.groupby('Manufacturer').max()

,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,,,
Acura,TL,39.384,Passenger,42.000,3.5,225.0,18.0
Audi,A8,20.397,Passenger,62.000,4.2,310.0,23.7
BMW,528i,19.747,Passenger,38.900,2.8,193.0,18.5
Buick,Regal,91.561,Passenger,31.965,3.8,240.0,18.5
Cadillac,Seville,63.729,Passenger,46.225,5.7,275.0,30.0
Chevrolet,Prizm,145.519,Passenger,45.705,5.7,345.0,19.1
Chrysler,Town & Country,53.480,Passenger,29.185,3.5,253.0,17.0
Dodge,Viper,227.061,Passenger,69.725,8.0,450.0,32.0
Ford,Windstar,540.561,Passenger,36.135,4.6,240.0,26.0
Honda,Passport,230.902,Passenger,26.600,3.5,210.0,21.1
Hyundai,Sonata,66.692,Passenger,14.999,2.4,148.0,17.2
Infiniti,I30,23.713,Passenger,29.465,3.0,227.0,18.5
Jaguar,S-Type,15.467,Passenger,42.800,3.0,240.0,18.4
Jeep,Wrangler,157.040,Car,26.895,4.0,195.0,20.5
Lexus,RX300,51.238,Passenger,60.105,4.7,300.0,25.4
Lincoln,Town car,48.911,Passenger,43.330,5.4,300.0,30.0
Mercedes-B,SLK230,28.976,Passenger,85.500,5.0,302.0,23.2
Mercury,Villager,81.174,Passenger,27.560,4.6,210.0,21.0
Mitsubishi,Montero Sport,55.616,Passenger,31.807,3.5,210.0,24.3
Nissan,Xterra,88.094,Passenger,29.299,3.3,222.0,21.0
Oldsmobile,Silhouette,80.255,Passenger,36.229,4.3,250.0,25.0
Plymouth,Voyager,32.734,Passenger,43.000,3.5,253.0,20.0
Pontiac,Sunfire,131.097,Passenger,25.635,3.8,205.0,25.0
Porsche,Carrera Coupe,8.982,Passenger,74.970,3.4,300.0,17.0
Saab,5-Sep,12.115,Passenger,33.120,2.3,185.0,18.5
Saturn,SW,80.620,Passenger,18.835,2.2,137.0,13.1
Subaru,Outback,47.107,Passenger,22.695,2.5,165.0,16.9
Toyota,Tacoma,247.994,Passenger,51.728,4.7,230.0,25.4
Volkswagen,Passat,83.721,Passenger,21.200,2.0,150.0,16.4
Volvo,V70,18.969,Passenger,45.500,2.9,236.0,21.1

In [61]:
df_cars.groupby(['Manufacturer','Model']).max()

                      Sales_in_thousands Vehicle_type  Price_in_thousands
Manufacturer Model
Acura        CL                   14.114    Passenger                 NaN  \
             Integra              16.919    Passenger               21.50
             RL                    8.588    Passenger               42.00
             TL                   39.384    Passenger               28.40
Audi         A4                   20.397    Passenger               23.99
...                                  ...          ...                 ...
Volvo        S40                  16.957    Passenger               23.40
             S70                  15.245    Passenger               27.50
             S80                  18.969    Passenger               36.00
             V40                   3.545    Passenger               24.40
             V70                  17.531    Passenger               28.80

                      Engine_size  Horsepower  Fuel_capacity
Manufacturer Model
Acura        CL               3.2       225.0           17.2
             Integra          1.8       140.0           13.2
             RL               3.5       210.0           18.0
             TL               3.2       225.0           17.2
Audi         A4               1.8       150.0           16.4
...                           ...         ...            ...
Volvo        S40              1.9       160.0           15.8
             S70              2.4       168.0           17.9
             S80              2.9       201.0           21.1
             V40              1.9       160.0           15.8
             V70              2.4       168.0           17.9

[157 rows x 6 columns]

In [62]:
df_cars.groupby(['Manufacturer','Model']).max().sort_values(['Manufacturer','Model']) #same

                      Sales_in_thousands Vehicle_type  Price_in_thousands
Manufacturer Model
Acura        CL                   14.114    Passenger                 NaN  \
             Integra              16.919    Passenger               21.50
             RL                    8.588    Passenger               42.00
             TL                   39.384    Passenger               28.40
Audi         A4                   20.397    Passenger               23.99
...                                  ...          ...                 ...
Volvo        S40                  16.957    Passenger               23.40
             S70                  15.245    Passenger               27.50
             S80                  18.969    Passenger               36.00
             V40                   3.545    Passenger               24.40
             V70                  17.531    Passenger               28.80

                      Engine_size  Horsepower  Fuel_capacity
Manufacturer Model
Acura        CL               3.2       225.0           17.2
             Integra          1.8       140.0           13.2
             RL               3.5       210.0           18.0
             TL               3.2       225.0           17.2
Audi         A4               1.8       150.0           16.4
...                           ...         ...            ...
Volvo        S40              1.9       160.0           15.8
             S70              2.4       168.0           17.9
             S80              2.9       201.0           21.1
             V40              1.9       160.0           15.8
             V70              2.4       168.0           17.9

[157 rows x 6 columns]

In [63]:
df_cars.groupby(['Manufacturer','Model','Price_in_thousands']).max()

                                         Sales_in_thousands Vehicle_type
Manufacturer Model   Price_in_thousands
Acura        Integra 21.50                           16.919    Passenger  \
             RL      42.00                            8.588    Passenger
             TL      28.40                           39.384    Passenger
Audi         A4      23.99                           20.397    Passenger
             A6      33.95                           18.780    Passenger
...                                                     ...          ...
Volvo        S40     23.40                           16.957    Passenger
             S70     27.50                           15.245    Passenger
             S80     36.00                           18.969    Passenger
             V40     24.40                            3.545    Passenger
             V70     28.80                           17.531    Passenger

                                         Engine_size  Horsepower
Manufacturer Model   Price_in_thousands
Acura        Integra 21.50                       1.8       140.0  \
             RL      42.00                       3.5       210.0
             TL      28.40                       3.2       225.0
Audi         A4      23.99                       1.8       150.0
             A6      33.95                       2.8       200.0
...                                              ...         ...
Volvo        S40     23.40                       1.9       160.0
             S70     27.50                       2.4       168.0
             S80     36.00                       2.9       201.0
             V40     24.40                       1.9       160.0
             V70     28.80                       2.4       168.0

                                         Fuel_capacity
Manufacturer Model   Price_in_thousands
Acura        Integra 21.50                        13.2
             RL      42.00                        18.0
             TL      28.40                        17.2
Audi         A4      23.99                        16.4
             A6      33.95                        18.5
...                                                ...
Volvo        S40     23.40                        15.8
             S70     27.50                        17.9
             S80     36.00                        21.1
             V40     24.40                        15.8
             V70     28.80                        17.9

[155 rows x 5 columns]

In [64]:
df_cars.groupby('Manufacturer').sum()

,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,,,
Acura,IntegraTLCLRL,79.005,PassengerPassengerPassengerPassenger,91.900,11.7,800.0,65.6
Audi,A4A6A8,40.557,PassengerPassengerPassenger,119.940,8.8,660.0,58.6
BMW,323i328i528i,46.505,PassengerPassengerPassenger,99.290,8.1,556.0,51.7
Buick,CenturyRegalPark AvenueLeSabre,242.019,PassengerPassengerPassengerPassenger,107.125,14.5,825.0,71.0
Cadillac,DeVilleSevilleEldoradoCateraEscalade,112.178,PassengerPassengerPassengerPassengerCar,201.270,22.5,1280.0,104.0
Chevrolet,CavalierMalibuLuminaMonte CarloCamaroCorvetteP...,554.365,PassengerPassengerPassengerPassengerPassengerP...,180.205,27.5,1540.0,139.3
Chrysler,Sebring CoupeSebring Conv.ConcordeCirrusLHSTow...,201.721,PassengerPassengerPassengerPassengerPassengerC...,140.585,16.7,1169.0,98.9
Dodge,NeonAvengerStratusIntrepidViperRam PickupRam W...,910.149,PassengerPassengerPassengerPassengerPassengerC...,266.350,40.8,2195.0,237.4
Ford,EscortMustangContourTaurusFocusCrown VictoriaE...,2022.635,PassengerPassengerPassengerPassengerPassengerP...,231.520,36.6,1871.0,209.7
Honda,CivicAccordCR-VPassportOdyssey,592.674,PassengerPassengerCarCarCar,101.385,12.6,802.0,85.4
Hyundai,AccentElantraSonata,137.326,PassengerPassengerPassenger,36.497,5.9,380.0,43.6
Infiniti,I30,23.713,Passenger,29.465,3.0,227.0,18.5
Jaguar,S-Type,15.467,Passenger,42.800,3.0,240.0,18.4
Jeep,WranglerCherokeeGrand Cherokee,293.153,CarCarCar,62.975,10.5,505.0,59.5
Lexus,ES300GS300GS400LS400LX470RX300,106.843,PassengerPassengerPassengerPassengerCarCar,264.330,21.7,1475.0,123.2
Lincoln,ContinentalTown carNavigator,85.634,PassengerPassengerCar,125.070,14.6,790.0,69.0
Mercedes-B,C-ClassE-ClassS-ClassSL-ClassSLKSLK230CLK Coup...,117.125,PassengerPassengerPassengerPassengerPassengerP...,476.250,30.8,2090.0,170.3
Mercury,MystiqueCougarSableGrand MarquisMountaineerVil...,237.999,PassengerPassengerPassengerPassengerCarCar,124.490,18.9,983.0,107.0
Mitsubishi,MirageEclipseGalantDiamante3000GTMonteroMonter...,180.895,PassengerPassengerPassengerPassengerPassengerC...,155.172,19.6,1156.0,128.0
Nissan,SentraAltimaMaximaQuestPathfinderXterraFrontier,399.635,PassengerPassengerPassengerCarCarCarCar,156.525,20.4,1183.0,127.4
Oldsmobile,CutlassIntrigueAleroAuroraBravadaSilhouette,178.989,PassengerPassengerPassengerPassengerCarCar,153.737,20.7,1140.0,109.2
Plymouth,NeonBreezeVoyagerProwler,64.001,PassengerPassengerCarPassenger,90.570,9.9,667.0,60.5
Pontiac,SunfireGrand AmFirebirdGrand PrixBonnevilleMon...,370.534,PassengerPassengerPassengerPassengerPassengerCar,137.695,20.6,1110.0,107.5
Porsche,BoxterCarrera CoupeCarrera Cabrio,12.128,PassengerPassengerPassenger,187.420,9.5,817.0,51.0
Saab,5-Sep3-Sep,21.306,PassengerPassenger,59.220,4.3,355.0,35.4
Saturn,SLSCSWLWLS,168.850,PassengerPassengerPassengerPassengerPassenger,71.355,10.1,598.0,62.5
Subaru,OutbackForester,80.135,PassengerCar,42.790,5.0,330.0,32.8
Toyota,CorollaCamryAvalonCelicaTacomaSiennaRAV44Runne...,740.205,PassengerPassengerPassengerPassengerCarCarCarC...,197.846,23.6,1446.0,159.9
Volkswagen,GolfJettaPassatCabrioGTIBeetle,209.212,PassengerPassengerPassengerPassengerPassengerP...,106.190,11.8,725.0,88.2
Volvo,S40V40S70V70C70S80,75.740,PassengerPassengerPassengerPassengerPassengerP...,185.600,13.8,1093.0,107.0

In [68]:
df_cars.groupby('Manufacturer').sum('Manufacturer')

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,
Acura,79.005,91.900,11.7,800.0,65.6
Audi,40.557,119.940,8.8,660.0,58.6
BMW,46.505,99.290,8.1,556.0,51.7
Buick,242.019,107.125,14.5,825.0,71.0
Cadillac,112.178,201.270,22.5,1280.0,104.0
Chevrolet,554.365,180.205,27.5,1540.0,139.3
Chrysler,201.721,140.585,16.7,1169.0,98.9
Dodge,910.149,266.350,40.8,2195.0,237.4
Ford,2022.635,231.520,36.6,1871.0,209.7
Honda,592.674,101.385,12.6,802.0,85.4
Hyundai,137.326,36.497,5.9,380.0,43.6
Infiniti,23.713,29.465,3.0,227.0,18.5
Jaguar,15.467,42.800,3.0,240.0,18.4
Jeep,293.153,62.975,10.5,505.0,59.5
Lexus,106.843,264.330,21.7,1475.0,123.2
Lincoln,85.634,125.070,14.6,790.0,69.0
Mercedes-B,117.125,476.250,30.8,2090.0,170.3
Mercury,237.999,124.490,18.9,983.0,107.0
Mitsubishi,180.895,155.172,19.6,1156.0,128.0
Nissan,399.635,156.525,20.4,1183.0,127.4
Oldsmobile,178.989,153.737,20.7,1140.0,109.2
Plymouth,64.001,90.570,9.9,667.0,60.5
Pontiac,370.534,137.695,20.6,1110.0,107.5
Porsche,12.128,187.420,9.5,817.0,51.0
Saab,21.306,59.220,4.3,355.0,35.4
Saturn,168.850,71.355,10.1,598.0,62.5
Subaru,80.135,42.790,5.0,330.0,32.8
Toyota,740.205,197.846,23.6,1446.0,159.9
Volkswagen,209.212,106.190,11.8,725.0,88.2
Volvo,75.740,185.600,13.8,1093.0,107.0

In [71]:
df_cars.groupby('Manufacturer').sum('Manufacturer')['Sales_in_thousands']

Manufacturer
Acura           79.005
Audi            40.557
BMW             46.505
Buick          242.019
Cadillac       112.178
Chevrolet      554.365
Chrysler       201.721
Dodge          910.149
Ford          2022.635
Honda          592.674
Hyundai        137.326
Infiniti        23.713
Jaguar          15.467
Jeep           293.153
Lexus          106.843
Lincoln         85.634
Mercedes-B     117.125
Mercury        237.999
Mitsubishi     180.895
Nissan         399.635
Oldsmobile     178.989
Plymouth        64.001
Pontiac        370.534
Porsche         12.128
Saab            21.306
Saturn         168.850
Subaru          80.135
Toyota         740.205
Volkswagen     209.212
Volvo           75.740
Name: Sales_in_thousands, dtype: float64