In [1]:
import pandas as pd

In [2]:
df_cars = pd.read_csv('data_files/Car_sales.csv')
df_cars

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [3]:
df_cars = df_cars[['Manufacturer', 'Model', 'Sales_in_thousands', 'Vehicle_type',
                   'Price_in_thousands', 'Engine_size', 'Horsepower', 'Fuel_capacity']]

In [4]:
df_cars.agg('sum')

Manufacturer          AcuraAcuraAcuraAcuraAudiAudiAudiBMWBMWBMWBuick...
Model                 IntegraTLCLRLA4A6A8323i328i528iCenturyRegalPar...
Sales_in_thousands                                             8320.698
Vehicle_type          PassengerPassengerPassengerPassengerPassengerP...
Price_in_thousands                                             4245.567
Engine_size                                                       477.5
Horsepower                                                      29008.0
Fuel_capacity                                                    2800.5
dtype: object

In [5]:
df_cars.agg(['sum', 'max', 'min'])

,Manufacturer,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
sum,AcuraAcuraAcuraAcuraAudiAudiAudiBMWBMWBMWBuick...,IntegraTLCLRLA4A6A8323i328i528iCenturyRegalPar...,8320.698,PassengerPassengerPassengerPassengerPassengerP...,4245.567,477.5,29008.0,2800.5
max,Volvo,Xterra,540.561,Passenger,85.500,8.0,450.0,32.0
min,Acura,3-Sep,0.110,Car,9.235,1.0,55.0,10.3

In [6]:
df_cars['Horsepower'].agg('min')

55.0

In [7]:
df_cars['Price_in_thousands'].agg(['max', 'min', 'mean'])

max     85.500000
min      9.235000
mean    27.390755
Name: Price_in_thousands, dtype: float64

In [8]:
df_cars

,Manufacturer,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
0,Acura,Integra,16.919,Passenger,21.50,1.8,140.0,13.2
1,Acura,TL,39.384,Passenger,28.40,3.2,225.0,17.2
2,Acura,CL,14.114,Passenger,NaN,3.2,225.0,17.2
3,Acura,RL,8.588,Passenger,42.00,3.5,210.0,18.0
4,Audi,A4,20.397,Passenger,23.99,1.8,150.0,16.4
...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,Passenger,24.40,1.9,160.0,15.8
153,Volvo,S70,15.245,Passenger,27.50,2.4,168.0,17.9
154,Volvo,V70,17.531,Passenger,28.80,2.4,168.0,17.9
155,Volvo,C70,3.493,Passenger,45.50,2.3,236.0,18.5
156,Volvo,S80,18.969,Passenger,36.00,2.9,201.0,21.1

In [9]:
df_cars.agg({'Sales_in_thousands': 'max',
             'Price_in_thousands': ['sum', 'mean'],
             'Engine_size': 'mean'}
            )

      Sales_in_thousands  Price_in_thousands  Engine_size
max              540.561                 NaN          NaN
sum                  NaN         4245.567000          NaN
mean                 NaN           27.390755     3.060897

In [10]:
df_cars.set_index('Manufacturer')

,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,,,
Acura,Integra,16.919,Passenger,21.50,1.8,140.0,13.2
Acura,TL,39.384,Passenger,28.40,3.2,225.0,17.2
Acura,CL,14.114,Passenger,NaN,3.2,225.0,17.2
Acura,RL,8.588,Passenger,42.00,3.5,210.0,18.0
Audi,A4,20.397,Passenger,23.99,1.8,150.0,16.4
...,...,...,...,...,...,...,...
Volvo,V40,3.545,Passenger,24.40,1.9,160.0,15.8
Volvo,S70,15.245,Passenger,27.50,2.4,168.0,17.9
Volvo,V70,17.531,Passenger,28.80,2.4,168.0,17.9
Volvo,C70,3.493,Passenger,45.50,2.3,236.0,18.5
Volvo,S80,18.969,Passenger,36.00,2.9,201.0,21.1

In [11]:
df_cars[['Sales_in_thousands', 'Price_in_thousands']].agg('sum', axis=1)

0      38.419
1      67.784
2      14.114
3      50.588
4      44.387
        ...
152    27.945
153    42.745
154    46.331
155    48.993
156    54.969
Length: 157, dtype: float64

In [12]:
df_cars['Sales_in_thousands'] + df_cars['Price_in_thousands']

0      38.419
1      67.784
2         NaN
3      50.588
4      44.387
        ...
152    27.945
153    42.745
154    46.331
155    48.993
156    54.969
Length: 157, dtype: float64

In [13]:
vehicle_type_car = df_cars['Vehicle_type'] == 'Car'
vehicle_type_passanger = df_cars['Vehicle_type'] == 'Passanger'

In [14]:
df_cars[vehicle_type_car][['Engine_size', 'Horsepower']].agg('sum')

Engine_size     140.8
Horsepower     7456.0
dtype: float64

In [15]:
df_bikes = pd.DataFrame(
    {'Name': ['Honda', 'Yamaha'],
     'Model': ['Hornet', 'FRX']
     }
)

In [16]:
df_bikes = df_bikes.set_index('Name')

In [17]:
df_bikes['Year'] = [1992, 2000]

In [18]:
df_bikes

         Model  Year
Name
Honda   Hornet  1992
Yamaha     FRX  2000

In [19]:
df_bikes['Year'] = [2020, 2022]

In [20]:
df_bikes

         Model  Year
Name
Honda   Hornet  2020
Yamaha     FRX  2022

In [21]:
df_cars.groupby('Vehicle_type').min()

,Manufacturer,Model,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Vehicle_type,,,,,,,
Car,Cadillac,4Runner,9.126,11.528,2.0,119.0,15.1
Passenger,Acura,3-Sep,0.110,9.235,1.0,55.0,10.3

In [22]:
df_cars.groupby('Manufacturer').max().sort_values('Price_in_thousands', ascending=False)

,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,,,
Mercedes-B,SLK230,28.976,Passenger,85.500,5.0,302.0,23.2
Porsche,Carrera Coupe,8.982,Passenger,74.970,3.4,300.0,17.0
Dodge,Viper,227.061,Passenger,69.725,8.0,450.0,32.0
Audi,A8,20.397,Passenger,62.000,4.2,310.0,23.7
Lexus,RX300,51.238,Passenger,60.105,4.7,300.0,25.4
Toyota,Tacoma,247.994,Passenger,51.728,4.7,230.0,25.4
Cadillac,Seville,63.729,Passenger,46.225,5.7,275.0,30.0
Chevrolet,Prizm,145.519,Passenger,45.705,5.7,345.0,19.1
Volvo,V70,18.969,Passenger,45.500,2.9,236.0,21.1
Lincoln,Town car,48.911,Passenger,43.330,5.4,300.0,30.0
Plymouth,Voyager,32.734,Passenger,43.000,3.5,253.0,20.0
Jaguar,S-Type,15.467,Passenger,42.800,3.0,240.0,18.4
Acura,TL,39.384,Passenger,42.000,3.5,225.0,18.0
BMW,528i,19.747,Passenger,38.900,2.8,193.0,18.5
Oldsmobile,Silhouette,80.255,Passenger,36.229,4.3,250.0,25.0
Ford,Windstar,540.561,Passenger,36.135,4.6,240.0,26.0
Saab,5-Sep,12.115,Passenger,33.120,2.3,185.0,18.5
Buick,Regal,91.561,Passenger,31.965,3.8,240.0,18.5
Mitsubishi,Montero Sport,55.616,Passenger,31.807,3.5,210.0,24.3
Infiniti,I30,23.713,Passenger,29.465,3.0,227.0,18.5
Nissan,Xterra,88.094,Passenger,29.299,3.3,222.0,21.0
Chrysler,Town & Country,53.480,Passenger,29.185,3.5,253.0,17.0
Mercury,Villager,81.174,Passenger,27.560,4.6,210.0,21.0
Jeep,Wrangler,157.040,Car,26.895,4.0,195.0,20.5
Honda,Passport,230.902,Passenger,26.600,3.5,210.0,21.1
Pontiac,Sunfire,131.097,Passenger,25.635,3.8,205.0,25.0
Subaru,Outback,47.107,Passenger,22.695,2.5,165.0,16.9
Volkswagen,Passat,83.721,Passenger,21.200,2.0,150.0,16.4
Saturn,SW,80.620,Passenger,18.835,2.2,137.0,13.1
Hyundai,Sonata,66.692,Passenger,14.999,2.4,148.0,17.2

In [23]:
df_cars.groupby('Manufacturer').mean('Manufacturer')

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,
Acura,19.751250,30.633333,2.925000,200.000000,16.400000
Audi,13.519000,39.980000,2.933333,220.000000,19.533333
BMW,15.501667,33.096667,2.700000,185.333333,17.233333
Buick,60.504750,26.781250,3.625000,206.250000,17.750000
Cadillac,22.435600,40.254000,4.500000,256.000000,20.800000
Chevrolet,61.596111,20.022778,3.055556,171.111111,15.477778
Chrysler,28.817286,23.430833,2.783333,194.833333,16.483333
Dodge,82.740818,24.213636,3.709091,199.545455,21.581818
Ford,183.875909,21.047273,3.327273,170.090909,19.063636
Honda,118.534800,20.277000,2.520000,160.400000,17.080000
Hyundai,45.775333,12.165667,1.966667,126.666667,14.533333
Infiniti,23.713000,29.465000,3.000000,227.000000,18.500000
Jaguar,15.467000,42.800000,3.000000,240.000000,18.400000
Jeep,97.717667,20.991667,3.500000,168.333333,19.833333
Lexus,17.807167,44.055000,3.616667,245.833333,20.533333
Lincoln,28.544667,41.690000,4.866667,263.333333,23.000000
Mercedes-B,13.013889,52.916667,3.422222,232.222222,18.922222
Mercury,39.666500,20.748333,3.150000,163.833333,17.833333
Mitsubishi,25.842143,22.167429,2.800000,165.142857,18.285714
Nissan,57.090714,22.360714,2.914286,169.000000,18.200000
Oldsmobile,29.831500,25.622833,3.450000,190.000000,18.200000
Plymouth,16.000250,22.642500,2.475000,166.750000,15.125000
Pontiac,61.755667,22.949167,3.433333,185.000000,17.916667
Porsche,4.042667,62.473333,3.166667,272.333333,17.000000
Saab,10.653000,29.610000,2.150000,177.500000,17.700000
Saturn,33.770000,14.271000,2.020000,119.600000,12.500000
Subaru,40.067500,21.395000,2.500000,165.000000,16.400000
Toyota,82.245000,21.982889,2.622222,160.666667,17.766667
Volkswagen,34.868667,17.698333,1.966667,120.833333,14.700000
Volvo,12.623333,30.933333,2.300000,182.166667,17.833333

In [24]:
df_cars.groupby('Manufacturer').max()

,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,,,
Acura,TL,39.384,Passenger,42.000,3.5,225.0,18.0
Audi,A8,20.397,Passenger,62.000,4.2,310.0,23.7
BMW,528i,19.747,Passenger,38.900,2.8,193.0,18.5
Buick,Regal,91.561,Passenger,31.965,3.8,240.0,18.5
Cadillac,Seville,63.729,Passenger,46.225,5.7,275.0,30.0
Chevrolet,Prizm,145.519,Passenger,45.705,5.7,345.0,19.1
Chrysler,Town & Country,53.480,Passenger,29.185,3.5,253.0,17.0
Dodge,Viper,227.061,Passenger,69.725,8.0,450.0,32.0
Ford,Windstar,540.561,Passenger,36.135,4.6,240.0,26.0
Honda,Passport,230.902,Passenger,26.600,3.5,210.0,21.1
Hyundai,Sonata,66.692,Passenger,14.999,2.4,148.0,17.2
Infiniti,I30,23.713,Passenger,29.465,3.0,227.0,18.5
Jaguar,S-Type,15.467,Passenger,42.800,3.0,240.0,18.4
Jeep,Wrangler,157.040,Car,26.895,4.0,195.0,20.5
Lexus,RX300,51.238,Passenger,60.105,4.7,300.0,25.4
Lincoln,Town car,48.911,Passenger,43.330,5.4,300.0,30.0
Mercedes-B,SLK230,28.976,Passenger,85.500,5.0,302.0,23.2
Mercury,Villager,81.174,Passenger,27.560,4.6,210.0,21.0
Mitsubishi,Montero Sport,55.616,Passenger,31.807,3.5,210.0,24.3
Nissan,Xterra,88.094,Passenger,29.299,3.3,222.0,21.0
Oldsmobile,Silhouette,80.255,Passenger,36.229,4.3,250.0,25.0
Plymouth,Voyager,32.734,Passenger,43.000,3.5,253.0,20.0
Pontiac,Sunfire,131.097,Passenger,25.635,3.8,205.0,25.0
Porsche,Carrera Coupe,8.982,Passenger,74.970,3.4,300.0,17.0
Saab,5-Sep,12.115,Passenger,33.120,2.3,185.0,18.5
Saturn,SW,80.620,Passenger,18.835,2.2,137.0,13.1
Subaru,Outback,47.107,Passenger,22.695,2.5,165.0,16.9
Toyota,Tacoma,247.994,Passenger,51.728,4.7,230.0,25.4
Volkswagen,Passat,83.721,Passenger,21.200,2.0,150.0,16.4
Volvo,V70,18.969,Passenger,45.500,2.9,236.0,21.1

In [25]:
df_cars.groupby(['Manufacturer', 'Model']).max()

                      Sales_in_thousands Vehicle_type  Price_in_thousands
Manufacturer Model
Acura        CL                   14.114    Passenger                 NaN  \
             Integra              16.919    Passenger               21.50
             RL                    8.588    Passenger               42.00
             TL                   39.384    Passenger               28.40
Audi         A4                   20.397    Passenger               23.99
...                                  ...          ...                 ...
Volvo        S40                  16.957    Passenger               23.40
             S70                  15.245    Passenger               27.50
             S80                  18.969    Passenger               36.00
             V40                   3.545    Passenger               24.40
             V70                  17.531    Passenger               28.80

                      Engine_size  Horsepower  Fuel_capacity
Manufacturer Model
Acura        CL               3.2       225.0           17.2
             Integra          1.8       140.0           13.2
             RL               3.5       210.0           18.0
             TL               3.2       225.0           17.2
Audi         A4               1.8       150.0           16.4
...                           ...         ...            ...
Volvo        S40              1.9       160.0           15.8
             S70              2.4       168.0           17.9
             S80              2.9       201.0           21.1
             V40              1.9       160.0           15.8
             V70              2.4       168.0           17.9

[157 rows x 6 columns]

In [26]:
df_cars.groupby(['Manufacturer', 'Model']).max().sort_values(['Manufacturer', 'Model'])  #same

                      Sales_in_thousands Vehicle_type  Price_in_thousands
Manufacturer Model
Acura        CL                   14.114    Passenger                 NaN  \
             Integra              16.919    Passenger               21.50
             RL                    8.588    Passenger               42.00
             TL                   39.384    Passenger               28.40
Audi         A4                   20.397    Passenger               23.99
...                                  ...          ...                 ...
Volvo        S40                  16.957    Passenger               23.40
             S70                  15.245    Passenger               27.50
             S80                  18.969    Passenger               36.00
             V40                   3.545    Passenger               24.40
             V70                  17.531    Passenger               28.80

                      Engine_size  Horsepower  Fuel_capacity
Manufacturer Model
Acura        CL               3.2       225.0           17.2
             Integra          1.8       140.0           13.2
             RL               3.5       210.0           18.0
             TL               3.2       225.0           17.2
Audi         A4               1.8       150.0           16.4
...                           ...         ...            ...
Volvo        S40              1.9       160.0           15.8
             S70              2.4       168.0           17.9
             S80              2.9       201.0           21.1
             V40              1.9       160.0           15.8
             V70              2.4       168.0           17.9

[157 rows x 6 columns]

In [27]:
df_cars.groupby(['Manufacturer', 'Model', 'Price_in_thousands']).max()

                                         Sales_in_thousands Vehicle_type
Manufacturer Model   Price_in_thousands
Acura        Integra 21.50                           16.919    Passenger  \
             RL      42.00                            8.588    Passenger
             TL      28.40                           39.384    Passenger
Audi         A4      23.99                           20.397    Passenger
             A6      33.95                           18.780    Passenger
...                                                     ...          ...
Volvo        S40     23.40                           16.957    Passenger
             S70     27.50                           15.245    Passenger
             S80     36.00                           18.969    Passenger
             V40     24.40                            3.545    Passenger
             V70     28.80                           17.531    Passenger

                                         Engine_size  Horsepower
Manufacturer Model   Price_in_thousands
Acura        Integra 21.50                       1.8       140.0  \
             RL      42.00                       3.5       210.0
             TL      28.40                       3.2       225.0
Audi         A4      23.99                       1.8       150.0
             A6      33.95                       2.8       200.0
...                                              ...         ...
Volvo        S40     23.40                       1.9       160.0
             S70     27.50                       2.4       168.0
             S80     36.00                       2.9       201.0
             V40     24.40                       1.9       160.0
             V70     28.80                       2.4       168.0

                                         Fuel_capacity
Manufacturer Model   Price_in_thousands
Acura        Integra 21.50                        13.2
             RL      42.00                        18.0
             TL      28.40                        17.2
Audi         A4      23.99                        16.4
             A6      33.95                        18.5
...                                                ...
Volvo        S40     23.40                        15.8
             S70     27.50                        17.9
             S80     36.00                        21.1
             V40     24.40                        15.8
             V70     28.80                        17.9

[155 rows x 5 columns]

In [28]:
df_cars.groupby('Manufacturer').sum()

,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,,,
Acura,IntegraTLCLRL,79.005,PassengerPassengerPassengerPassenger,91.900,11.7,800.0,65.6
Audi,A4A6A8,40.557,PassengerPassengerPassenger,119.940,8.8,660.0,58.6
BMW,323i328i528i,46.505,PassengerPassengerPassenger,99.290,8.1,556.0,51.7
Buick,CenturyRegalPark AvenueLeSabre,242.019,PassengerPassengerPassengerPassenger,107.125,14.5,825.0,71.0
Cadillac,DeVilleSevilleEldoradoCateraEscalade,112.178,PassengerPassengerPassengerPassengerCar,201.270,22.5,1280.0,104.0
Chevrolet,CavalierMalibuLuminaMonte CarloCamaroCorvetteP...,554.365,PassengerPassengerPassengerPassengerPassengerP...,180.205,27.5,1540.0,139.3
Chrysler,Sebring CoupeSebring Conv.ConcordeCirrusLHSTow...,201.721,PassengerPassengerPassengerPassengerPassengerC...,140.585,16.7,1169.0,98.9
Dodge,NeonAvengerStratusIntrepidViperRam PickupRam W...,910.149,PassengerPassengerPassengerPassengerPassengerC...,266.350,40.8,2195.0,237.4
Ford,EscortMustangContourTaurusFocusCrown VictoriaE...,2022.635,PassengerPassengerPassengerPassengerPassengerP...,231.520,36.6,1871.0,209.7
Honda,CivicAccordCR-VPassportOdyssey,592.674,PassengerPassengerCarCarCar,101.385,12.6,802.0,85.4
Hyundai,AccentElantraSonata,137.326,PassengerPassengerPassenger,36.497,5.9,380.0,43.6
Infiniti,I30,23.713,Passenger,29.465,3.0,227.0,18.5
Jaguar,S-Type,15.467,Passenger,42.800,3.0,240.0,18.4
Jeep,WranglerCherokeeGrand Cherokee,293.153,CarCarCar,62.975,10.5,505.0,59.5
Lexus,ES300GS300GS400LS400LX470RX300,106.843,PassengerPassengerPassengerPassengerCarCar,264.330,21.7,1475.0,123.2
Lincoln,ContinentalTown carNavigator,85.634,PassengerPassengerCar,125.070,14.6,790.0,69.0
Mercedes-B,C-ClassE-ClassS-ClassSL-ClassSLKSLK230CLK Coup...,117.125,PassengerPassengerPassengerPassengerPassengerP...,476.250,30.8,2090.0,170.3
Mercury,MystiqueCougarSableGrand MarquisMountaineerVil...,237.999,PassengerPassengerPassengerPassengerCarCar,124.490,18.9,983.0,107.0
Mitsubishi,MirageEclipseGalantDiamante3000GTMonteroMonter...,180.895,PassengerPassengerPassengerPassengerPassengerC...,155.172,19.6,1156.0,128.0
Nissan,SentraAltimaMaximaQuestPathfinderXterraFrontier,399.635,PassengerPassengerPassengerCarCarCarCar,156.525,20.4,1183.0,127.4
Oldsmobile,CutlassIntrigueAleroAuroraBravadaSilhouette,178.989,PassengerPassengerPassengerPassengerCarCar,153.737,20.7,1140.0,109.2
Plymouth,NeonBreezeVoyagerProwler,64.001,PassengerPassengerCarPassenger,90.570,9.9,667.0,60.5
Pontiac,SunfireGrand AmFirebirdGrand PrixBonnevilleMon...,370.534,PassengerPassengerPassengerPassengerPassengerCar,137.695,20.6,1110.0,107.5
Porsche,BoxterCarrera CoupeCarrera Cabrio,12.128,PassengerPassengerPassenger,187.420,9.5,817.0,51.0
Saab,5-Sep3-Sep,21.306,PassengerPassenger,59.220,4.3,355.0,35.4
Saturn,SLSCSWLWLS,168.850,PassengerPassengerPassengerPassengerPassenger,71.355,10.1,598.0,62.5
Subaru,OutbackForester,80.135,PassengerCar,42.790,5.0,330.0,32.8
Toyota,CorollaCamryAvalonCelicaTacomaSiennaRAV44Runne...,740.205,PassengerPassengerPassengerPassengerCarCarCarC...,197.846,23.6,1446.0,159.9
Volkswagen,GolfJettaPassatCabrioGTIBeetle,209.212,PassengerPassengerPassengerPassengerPassengerP...,106.190,11.8,725.0,88.2
Volvo,S40V40S70V70C70S80,75.740,PassengerPassengerPassengerPassengerPassengerP...,185.600,13.8,1093.0,107.0

In [29]:
df_cars.groupby('Manufacturer').sum('Manufacturer')

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,
Acura,79.005,91.900,11.7,800.0,65.6
Audi,40.557,119.940,8.8,660.0,58.6
BMW,46.505,99.290,8.1,556.0,51.7
Buick,242.019,107.125,14.5,825.0,71.0
Cadillac,112.178,201.270,22.5,1280.0,104.0
Chevrolet,554.365,180.205,27.5,1540.0,139.3
Chrysler,201.721,140.585,16.7,1169.0,98.9
Dodge,910.149,266.350,40.8,2195.0,237.4
Ford,2022.635,231.520,36.6,1871.0,209.7
Honda,592.674,101.385,12.6,802.0,85.4
Hyundai,137.326,36.497,5.9,380.0,43.6
Infiniti,23.713,29.465,3.0,227.0,18.5
Jaguar,15.467,42.800,3.0,240.0,18.4
Jeep,293.153,62.975,10.5,505.0,59.5
Lexus,106.843,264.330,21.7,1475.0,123.2
Lincoln,85.634,125.070,14.6,790.0,69.0
Mercedes-B,117.125,476.250,30.8,2090.0,170.3
Mercury,237.999,124.490,18.9,983.0,107.0
Mitsubishi,180.895,155.172,19.6,1156.0,128.0
Nissan,399.635,156.525,20.4,1183.0,127.4
Oldsmobile,178.989,153.737,20.7,1140.0,109.2
Plymouth,64.001,90.570,9.9,667.0,60.5
Pontiac,370.534,137.695,20.6,1110.0,107.5
Porsche,12.128,187.420,9.5,817.0,51.0
Saab,21.306,59.220,4.3,355.0,35.4
Saturn,168.850,71.355,10.1,598.0,62.5
Subaru,80.135,42.790,5.0,330.0,32.8
Toyota,740.205,197.846,23.6,1446.0,159.9
Volkswagen,209.212,106.190,11.8,725.0,88.2
Volvo,75.740,185.600,13.8,1093.0,107.0

In [30]:
df_cars.groupby('Manufacturer').sum('Manufacturer')['Sales_in_thousands']

Manufacturer
Acura           79.005
Audi            40.557
BMW             46.505
Buick          242.019
Cadillac       112.178
Chevrolet      554.365
Chrysler       201.721
Dodge          910.149
Ford          2022.635
Honda          592.674
Hyundai        137.326
Infiniti        23.713
Jaguar          15.467
Jeep           293.153
Lexus          106.843
Lincoln         85.634
Mercedes-B     117.125
Mercury        237.999
Mitsubishi     180.895
Nissan         399.635
Oldsmobile     178.989
Plymouth        64.001
Pontiac        370.534
Porsche         12.128
Saab            21.306
Saturn         168.850
Subaru          80.135
Toyota         740.205
Volkswagen     209.212
Volvo           75.740
Name: Sales_in_thousands, dtype: float64

In [31]:
df_cars.groupby('Vehicle_type').agg(['min', 'max'])

             Manufacturer            Model         Sales_in_thousands
                      min     max      min     max                min
Vehicle_type
Car              Cadillac  Toyota  4Runner  Xterra              9.126  \
Passenger           Acura   Volvo    3-Sep   Viper              0.110

                      Price_in_thousands         Engine_size      Horsepower
                  max                min     max         min  max        min
Vehicle_type
Car           540.561             11.528  60.105         2.0  5.7      119.0  \
Passenger     247.994              9.235  85.500         1.0  8.0       55.0

                    Fuel_capacity
                max           min   max
Vehicle_type
Car           300.0          15.1  32.0
Passenger     450.0          10.3  23.7

In [32]:
df_cars.groupby(['Manufacturer']).agg(
    max_sales=('Sales_in_thousands', 'max'),
    min_horsepowers=('Horsepower', 'min'),
    max_horsepowers=('Horsepower', 'max'),
).sort_values('max_sales', ascending=False)

              max_sales  min_horsepowers  max_horsepowers
Manufacturer
Ford            540.561            107.0            240.0
Toyota          247.994            120.0            230.0
Honda           230.902            106.0            210.0
Dodge           227.061            120.0            450.0
Jeep            157.040            120.0            195.0
Chevrolet       145.519             55.0            345.0
Pontiac         131.097            150.0            205.0
Buick            91.561            175.0            240.0
Nissan           88.094            126.0            222.0
Volkswagen       83.721            115.0            150.0
Mercury          81.174            125.0            210.0
Saturn           80.620            100.0            137.0
Oldsmobile       80.255            150.0            250.0
Hyundai          66.692             92.0            148.0
Cadillac         63.729            200.0            275.0
Mitsubishi       55.616            113.0            210.0
Chrysler         53.480            132.0            253.0
Lexus            51.238            210.0            300.0
Lincoln          48.911            215.0            300.0
Subaru           47.107            165.0            165.0
Acura            39.384            140.0            225.0
Plymouth         32.734            132.0            253.0
Mercedes-B       28.976            185.0            302.0
Infiniti         23.713            227.0            227.0
Audi             20.397            150.0            310.0
BMW              19.747            170.0            193.0
Volvo            18.969            160.0            236.0
Jaguar           15.467            240.0            240.0
Saab             12.115            170.0            185.0
Porsche           8.982            217.0            300.0

In [33]:
df_cars.groupby(['Manufacturer']).agg(
    sum_sales=('Sales_in_thousands', 'sum'),
    min_horsepowers=('Horsepower', 'min'),
    max_horsepowers=('Horsepower', 'max'),
).sort_values('sum_sales', ascending=False)

              sum_sales  min_horsepowers  max_horsepowers
Manufacturer
Ford           2022.635            107.0            240.0
Dodge           910.149            120.0            450.0
Toyota          740.205            120.0            230.0
Honda           592.674            106.0            210.0
Chevrolet       554.365             55.0            345.0
Nissan          399.635            126.0            222.0
Pontiac         370.534            150.0            205.0
Jeep            293.153            120.0            195.0
Buick           242.019            175.0            240.0
Mercury         237.999            125.0            210.0
Volkswagen      209.212            115.0            150.0
Chrysler        201.721            132.0            253.0
Mitsubishi      180.895            113.0            210.0
Oldsmobile      178.989            150.0            250.0
Saturn          168.850            100.0            137.0
Hyundai         137.326             92.0            148.0
Mercedes-B      117.125            185.0            302.0
Cadillac        112.178            200.0            275.0
Lexus           106.843            210.0            300.0
Lincoln          85.634            215.0            300.0
Subaru           80.135            165.0            165.0
Acura            79.005            140.0            225.0
Volvo            75.740            160.0            236.0
Plymouth         64.001            132.0            253.0
BMW              46.505            170.0            193.0
Audi             40.557            150.0            310.0
Infiniti         23.713            227.0            227.0
Saab             21.306            170.0            185.0
Jaguar           15.467            240.0            240.0
Porsche          12.128            217.0            300.0

In [34]:
df_cars.groupby(['Manufacturer', 'Model']).max('Price_in_thousands').sort_values('Price_in_thousands', ascending=False)

                             Sales_in_thousands  Price_in_thousands
Manufacturer Model
Mercedes-B   CL500                        0.954              85.500  \
             SL-Class                     3.311              82.600
Porsche      Carrera Cabrio               1.866              74.970
             Carrera Coupe                1.280              71.020
Dodge        Viper                        0.916              69.725
...                                         ...                 ...
Saturn       SL                          80.620              10.685
Hyundai      Accent                      41.184               9.699
Chevrolet    Metro                       21.855               9.235
Acura        CL                          14.114                 NaN
Chrysler     Town & Country              53.480                 NaN

                             Engine_size  Horsepower  Fuel_capacity
Manufacturer Model
Mercedes-B   CL500                   5.0       302.0           23.2
             SL-Class                5.0       302.0           21.1
Porsche      Carrera Cabrio          3.4       300.0           17.0
             Carrera Coupe           3.4       300.0           17.0
Dodge        Viper                   8.0       450.0           19.0
...                                  ...         ...            ...
Saturn       SL                      1.9       100.0           12.1
Hyundai      Accent                  1.5        92.0           11.9
Chevrolet    Metro                   1.0        55.0           10.3
Acura        CL                      3.2       225.0           17.2
Chrysler     Town & Country          NaN         NaN            NaN

[157 rows x 5 columns]

In [35]:
max_sales_by_manufacturer = df_cars.groupby(['Manufacturer']).sum('Sales_in_thousands').sort_values(
    'Sales_in_thousands', ascending=False)

In [36]:
max_sales_by_manufacturer['Sales_in_thousands']

Manufacturer
Ford          2022.635
Dodge          910.149
Toyota         740.205
Honda          592.674
Chevrolet      554.365
Nissan         399.635
Pontiac        370.534
Jeep           293.153
Buick          242.019
Mercury        237.999
Volkswagen     209.212
Chrysler       201.721
Mitsubishi     180.895
Oldsmobile     178.989
Saturn         168.850
Hyundai        137.326
Mercedes-B     117.125
Cadillac       112.178
Lexus          106.843
Lincoln         85.634
Subaru          80.135
Acura           79.005
Volvo           75.740
Plymouth        64.001
BMW             46.505
Audi            40.557
Infiniti        23.713
Saab            21.306
Jaguar          15.467
Porsche         12.128
Name: Sales_in_thousands, dtype: float64

In [37]:
df_cars.groupby('Vehicle_type').agg(
    sum_of_sales=('Sales_in_thousands', 'sum'),
    avg_price=('Price_in_thousands', 'mean')
)

              sum_of_sales  avg_price
Vehicle_type
Car               3305.514  26.319975
Passenger         5015.184  27.763200

In [38]:
df_cars.groupby('Manufacturer').agg(
    sum_of_sales=('Sales_in_thousands', 'sum'),
    avg_price=('Price_in_thousands', 'mean')
)

              sum_of_sales  avg_price
Manufacturer
Acura               79.005  30.633333
Audi                40.557  39.980000
BMW                 46.505  33.096667
Buick              242.019  26.781250
Cadillac           112.178  40.254000
Chevrolet          554.365  20.022778
Chrysler           201.721  23.430833
Dodge              910.149  24.213636
Ford              2022.635  21.047273
Honda              592.674  20.277000
Hyundai            137.326  12.165667
Infiniti            23.713  29.465000
Jaguar              15.467  42.800000
Jeep               293.153  20.991667
Lexus              106.843  44.055000
Lincoln             85.634  41.690000
Mercedes-B         117.125  52.916667
Mercury            237.999  20.748333
Mitsubishi         180.895  22.167429
Nissan             399.635  22.360714
Oldsmobile         178.989  25.622833
Plymouth            64.001  22.642500
Pontiac            370.534  22.949167
Porsche             12.128  62.473333
Saab                21.306  29.610000
Saturn             168.850  14.271000
Subaru              80.135  21.395000
Toyota             740.205  21.982889
Volkswagen         209.212  17.698333
Volvo               75.740  30.933333

In [39]:
df_cars.groupby(['Manufacturer', 'Model']).agg(
    min_price=('Price_in_thousands', 'min'),
    max_price=('Price_in_thousands', 'max')
)

                      min_price  max_price
Manufacturer Model
Acura        CL             NaN        NaN
             Integra      21.50      21.50
             RL           42.00      42.00
             TL           28.40      28.40
Audi         A4           23.99      23.99
...                         ...        ...
Volvo        S40          23.40      23.40
             S70          27.50      27.50
             S80          36.00      36.00
             V40          24.40      24.40
             V70          28.80      28.80

[157 rows x 2 columns]

In [40]:
df_cars.groupby('Manufacturer').sum()['Sales_in_thousands']

Manufacturer
Acura           79.005
Audi            40.557
BMW             46.505
Buick          242.019
Cadillac       112.178
Chevrolet      554.365
Chrysler       201.721
Dodge          910.149
Ford          2022.635
Honda          592.674
Hyundai        137.326
Infiniti        23.713
Jaguar          15.467
Jeep           293.153
Lexus          106.843
Lincoln         85.634
Mercedes-B     117.125
Mercury        237.999
Mitsubishi     180.895
Nissan         399.635
Oldsmobile     178.989
Plymouth        64.001
Pontiac        370.534
Porsche         12.128
Saab            21.306
Saturn         168.850
Subaru          80.135
Toyota         740.205
Volkswagen     209.212
Volvo           75.740
Name: Sales_in_thousands, dtype: float64

In [41]:
sales_in_real_values = df_cars.groupby("Manufacturer").sum().apply(lambda x: x * 1000)[
    ["Sales_in_thousands", "Price_in_thousands"]]

In [42]:
sales_in_real_values.rename(columns={'Sales_in_thousands': 'Sales',
                                     'Price_in_thousands': 'Price'})

                  Sales     Price
Manufacturer
Acura           79005.0   91900.0
Audi            40557.0  119940.0
BMW             46505.0   99290.0
Buick          242019.0  107125.0
Cadillac       112178.0  201270.0
Chevrolet      554365.0  180205.0
Chrysler       201721.0  140585.0
Dodge          910149.0  266350.0
Ford          2022635.0  231520.0
Honda          592674.0  101385.0
Hyundai        137326.0   36497.0
Infiniti        23713.0   29465.0
Jaguar          15467.0   42800.0
Jeep           293153.0   62975.0
Lexus          106843.0  264330.0
Lincoln         85634.0  125070.0
Mercedes-B     117125.0  476250.0
Mercury        237999.0  124490.0
Mitsubishi     180895.0  155172.0
Nissan         399635.0  156525.0
Oldsmobile     178989.0  153737.0
Plymouth        64001.0   90570.0
Pontiac        370534.0  137695.0
Porsche         12128.0  187420.0
Saab            21306.0   59220.0
Saturn         168850.0   71355.0
Subaru          80135.0   42790.0
Toyota         740205.0  197846.0
Volkswagen     209212.0  106190.0
Volvo           75740.0  185600.0

In [43]:
df_cars.columns

Index(['Manufacturer', 'Model', 'Sales_in_thousands', 'Vehicle_type',
       'Price_in_thousands', 'Engine_size', 'Horsepower', 'Fuel_capacity'],
      dtype='object')

In [44]:
df_cars["Sales_in_thousands"].sum()

8320.698

In [45]:
df_cars['Horsepower'].mean()

185.94871794871796

In [46]:
df_cars.agg('max')

Manufacturer              Volvo
Model                    Xterra
Sales_in_thousands      540.561
Vehicle_type          Passenger
Price_in_thousands         85.5
Engine_size                 8.0
Horsepower                450.0
Fuel_capacity              32.0
dtype: object

In [47]:
df_cars.groupby(['Manufacturer', 'Model']).agg('max')

                      Sales_in_thousands Vehicle_type  Price_in_thousands
Manufacturer Model
Acura        CL                   14.114    Passenger                 NaN  \
             Integra              16.919    Passenger               21.50
             RL                    8.588    Passenger               42.00
             TL                   39.384    Passenger               28.40
Audi         A4                   20.397    Passenger               23.99
...                                  ...          ...                 ...
Volvo        S40                  16.957    Passenger               23.40
             S70                  15.245    Passenger               27.50
             S80                  18.969    Passenger               36.00
             V40                   3.545    Passenger               24.40
             V70                  17.531    Passenger               28.80

                      Engine_size  Horsepower  Fuel_capacity
Manufacturer Model
Acura        CL               3.2       225.0           17.2
             Integra          1.8       140.0           13.2
             RL               3.5       210.0           18.0
             TL               3.2       225.0           17.2
Audi         A4               1.8       150.0           16.4
...                           ...         ...            ...
Volvo        S40              1.9       160.0           15.8
             S70              2.4       168.0           17.9
             S80              2.9       201.0           21.1
             V40              1.9       160.0           15.8
             V70              2.4       168.0           17.9

[157 rows x 6 columns]

In [48]:
df_cars.groupby(['Model']).agg('min')

,Manufacturer,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Model,,,,,,,
3-Sep,Saab,12.115,Passenger,26.100,2.0,185.0,16.9
3000GT,Mitsubishi,0.110,Passenger,25.450,3.0,161.0,19.8
300M,Chrysler,30.696,Passenger,29.185,3.5,253.0,17.0
323i,BMW,19.747,Passenger,26.990,2.5,170.0,16.6
328i,BMW,9.231,Passenger,33.400,2.8,193.0,16.6
...,...,...,...,...,...,...,...
Viper,Dodge,0.916,Passenger,69.725,8.0,450.0,19.0
Voyager,Plymouth,24.155,Car,18.850,2.4,150.0,20.0
Windstar,Ford,155.787,Car,21.410,3.0,150.0,26.0
Wrangler,Jeep,55.557,Car,14.460,2.5,120.0,19.0
Xterra,Nissan,54.158,Car,22.799,3.3,170.0,19.4

In [49]:
df_cars.groupby(['Manufacturer']).count()

,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,,,
Acura,4,4,4,3,4,4,4
Audi,3,3,3,3,3,3,3
BMW,3,3,3,3,3,3,3
Buick,4,4,4,4,4,4,4
Cadillac,5,5,5,5,5,5,5
Chevrolet,9,9,9,9,9,9,9
Chrysler,7,7,7,6,6,6,6
Dodge,11,11,11,11,11,11,11
Ford,11,11,11,11,11,11,11
Honda,5,5,5,5,5,5,5
Hyundai,3,3,3,3,3,3,3
Infiniti,1,1,1,1,1,1,1
Jaguar,1,1,1,1,1,1,1
Jeep,3,3,3,3,3,3,3
Lexus,6,6,6,6,6,6,6
Lincoln,3,3,3,3,3,3,3
Mercedes-B,9,9,9,9,9,9,9
Mercury,6,6,6,6,6,6,6
Mitsubishi,7,7,7,7,7,7,7
Nissan,7,7,7,7,7,7,7
Oldsmobile,6,6,6,6,6,6,6
Plymouth,4,4,4,4,4,4,4
Pontiac,6,6,6,6,6,6,6
Porsche,3,3,3,3,3,3,3
Saab,2,2,2,2,2,2,2
Saturn,5,5,5,5,5,5,5
Subaru,2,2,2,2,2,2,2
Toyota,9,9,9,9,9,9,9
Volkswagen,6,6,6,6,6,6,6
Volvo,6,6,6,6,6,6,6

In [50]:
df_cars.groupby('Manufacturer').agg('min', 'max')

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,
Acura,8.588,21.500,1.8,140.0,13.2
Audi,1.380,23.990,1.8,150.0,16.4
BMW,9.231,26.990,2.5,170.0,16.6
Buick,27.851,21.975,3.1,175.0,17.5
Cadillac,6.536,31.010,3.0,200.0,18.0
Chevrolet,17.947,9.235,1.0,55.0,10.3
Chrysler,7.854,16.480,2.0,132.0,15.9
Dodge,0.916,12.640,2.0,120.0,12.5
Ford,35.068,12.050,2.0,107.0,12.7
Honda,12.855,12.885,1.6,106.0,11.9
Hyundai,29.450,9.699,1.5,92.0,11.9
Infiniti,23.713,29.465,3.0,227.0,18.5
Jaguar,15.467,42.800,3.0,240.0,18.4
Jeep,55.557,14.460,2.5,120.0,19.0
Lexus,3.334,31.505,3.0,210.0,17.2
Lincoln,13.798,39.080,4.6,215.0,19.0
Mercedes-B,0.954,31.750,2.3,185.0,14.0
Mercury,14.351,16.240,2.0,125.0,15.0
Mitsubishi,0.110,13.987,1.8,113.0,13.2
Nissan,27.308,13.499,1.8,126.0,13.2
Oldsmobile,1.112,18.145,2.4,150.0,15.0
Plymouth,1.872,12.640,2.0,132.0,12.0
Pontiac,19.911,19.720,2.4,150.0,15.0
Porsche,1.280,41.430,2.7,217.0,17.0
Saab,9.191,26.100,2.0,170.0,16.9
Saturn,5.223,10.685,1.9,100.0,12.1
Subaru,33.028,20.095,2.5,165.0,15.9
Toyota,9.835,11.528,1.8,120.0,13.2
Volkswagen,5.596,14.900,1.8,115.0,13.7
Volvo,3.493,23.400,1.9,160.0,15.8

In [51]:
# find the min Engine_size and max Horsepower
df_cars.groupby(['Manufacturer']).agg(
    min_engine_size=('Engine_size', 'min'),
    max_horsepower=('Horsepower', 'max')
)

              min_engine_size  max_horsepower
Manufacturer
Acura                     1.8           225.0
Audi                      1.8           310.0
BMW                       2.5           193.0
Buick                     3.1           240.0
Cadillac                  3.0           275.0
Chevrolet                 1.0           345.0
Chrysler                  2.0           253.0
Dodge                     2.0           450.0
Ford                      2.0           240.0
Honda                     1.6           210.0
Hyundai                   1.5           148.0
Infiniti                  3.0           227.0
Jaguar                    3.0           240.0
Jeep                      2.5           195.0
Lexus                     3.0           300.0
Lincoln                   4.6           300.0
Mercedes-B                2.3           302.0
Mercury                   2.0           210.0
Mitsubishi                1.8           210.0
Nissan                    1.8           222.0
Oldsmobile                2.4           250.0
Plymouth                  2.0           253.0
Pontiac                   2.4           205.0
Porsche                   2.7           300.0
Saab                      2.0           185.0
Saturn                    1.9           137.0
Subaru                    2.5           165.0
Toyota                    1.8           230.0
Volkswagen                1.8           150.0
Volvo                     1.9           236.0

In [52]:
df_cars

,Manufacturer,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
0,Acura,Integra,16.919,Passenger,21.50,1.8,140.0,13.2
1,Acura,TL,39.384,Passenger,28.40,3.2,225.0,17.2
2,Acura,CL,14.114,Passenger,NaN,3.2,225.0,17.2
3,Acura,RL,8.588,Passenger,42.00,3.5,210.0,18.0
4,Audi,A4,20.397,Passenger,23.99,1.8,150.0,16.4
...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,Passenger,24.40,1.9,160.0,15.8
153,Volvo,S70,15.245,Passenger,27.50,2.4,168.0,17.9
154,Volvo,V70,17.531,Passenger,28.80,2.4,168.0,17.9
155,Volvo,C70,3.493,Passenger,45.50,2.3,236.0,18.5
156,Volvo,S80,18.969,Passenger,36.00,2.9,201.0,21.1

In [53]:
df_cars.groupby('Manufacturer').sum()[['Sales_in_thousands', 'Price_in_thousands']].apply(lambda sum: sum * 1000)

              Sales_in_thousands  Price_in_thousands
Manufacturer
Acura                    79005.0             91900.0
Audi                     40557.0            119940.0
BMW                      46505.0             99290.0
Buick                   242019.0            107125.0
Cadillac                112178.0            201270.0
Chevrolet               554365.0            180205.0
Chrysler                201721.0            140585.0
Dodge                   910149.0            266350.0
Ford                   2022635.0            231520.0
Honda                   592674.0            101385.0
Hyundai                 137326.0             36497.0
Infiniti                 23713.0             29465.0
Jaguar                   15467.0             42800.0
Jeep                    293153.0             62975.0
Lexus                   106843.0            264330.0
Lincoln                  85634.0            125070.0
Mercedes-B              117125.0            476250.0
Mercury                 237999.0            124490.0
Mitsubishi              180895.0            155172.0
Nissan                  399635.0            156525.0
Oldsmobile              178989.0            153737.0
Plymouth                 64001.0             90570.0
Pontiac                 370534.0            137695.0
Porsche                  12128.0            187420.0
Saab                     21306.0             59220.0
Saturn                  168850.0             71355.0
Subaru                   80135.0             42790.0
Toyota                  740205.0            197846.0
Volkswagen              209212.0            106190.0
Volvo                    75740.0            185600.0

In [54]:
df_cars['Sales_in_thousands'].mean()

52.99807643312102

In [55]:
def over_average_sales(x):
    return x['Sales_in_thousands'].sum() >= 53

df_cars.groupby('Manufacturer').filter(over_average_sales)

,Manufacturer,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
0,Acura,Integra,16.919,Passenger,21.500,1.8,140.0,13.2
1,Acura,TL,39.384,Passenger,28.400,3.2,225.0,17.2
2,Acura,CL,14.114,Passenger,NaN,3.2,225.0,17.2
3,Acura,RL,8.588,Passenger,42.000,3.5,210.0,18.0
10,Buick,Century,91.561,Passenger,21.975,3.1,175.0,17.5
...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,Passenger,24.400,1.9,160.0,15.8
153,Volvo,S70,15.245,Passenger,27.500,2.4,168.0,17.9
154,Volvo,V70,17.531,Passenger,28.800,2.4,168.0,17.9
155,Volvo,C70,3.493,Passenger,45.500,2.3,236.0,18.5
156,Volvo,S80,18.969,Passenger,36.000,2.9,201.0,21.1

In [56]:
df_cars['Sales_in_thousands']

0      16.919
1      39.384
2      14.114
3       8.588
4      20.397
        ...
152     3.545
153    15.245
154    17.531
155     3.493
156    18.969
Name: Sales_in_thousands, Length: 157, dtype: float64