In [2]:
import pandas as pd

In [3]:
# Optional: use the pd.set_option() to display all rows in a dataframe by default

# Create a DataFrame

In [4]:
# read the "bestsellers with categories" csv file (Dataset on Amazon's Top 50 bestselling books from 2009 to 2019.)
df_amazon_bestsellers = pd.read_csv('bestsellers+with+categories.csv')
df_amazon_bestsellers

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [21]:
# get access to the shape attribute
df_amazon_bestsellers.shape

(550, 7)

In [23]:
# find the data types of each column
df_amazon_bestsellers.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

# Disaplying a DataFrame

In [24]:
# show first 5 rows in a dataframe
df_amazon_bestsellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [26]:
# describe basic statistics of the dataframe (mean, std, min, max)
df_amazon_bestsellers.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

# Add a new Column with an array

In [36]:

# Your task is to create a column named 'Critic Rating' that should have random integer numbers between 1 and 4

# 1. import numpy and create 550 random integer numbers between 1 and 4
import numpy as np

random_ratings = np.random.randint(1, 4, 550)  #(low, high, size)

# 2. add new 'Critic Rating' column to dataframe using the random numbers created
df_amazon_bestsellers['Critic Rating'] = random_ratings
df_amazon_bestsellers

# Note the random numbers in this new 'Critic Rating' column will be different between your solution and mine, but we'll focus only on the code, in this section.

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,2
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,2
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,2
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,2
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,2
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,3
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,3
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,1

In [37]:
# show first 5 rows
df_amazon_bestsellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,2
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,2
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,2

# Basic Attributes, Methods and Functions

In [11]:
# get access to the columns attribute

# Selecting Two or More Columns from a Dataframe

In [49]:
# move the new 'Critic Rating' column between the columns "User Rating" and "Reviews" Then update the dataframe
df_amazon_bestsellers = df_amazon_bestsellers[['Name', 'Author', 'User Rating', 'Critic Rating', 'Reviews', 'Price', 'Year', 'Genre']]
df_amazon_bestsellers
# Tip: Copy and paste the column names obtained with the columns attribute and then rearrange elements using [[]]

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,2,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,2,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2019,Non Fiction

In [50]:
# show first 5 rows
df_amazon_bestsellers.head()

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,2,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction

# Operations on Dataframes

In [14]:
# create a column named "Average Rating" by using the following formula: Average Rating = (User Rating + Critic Rating)/2

In [15]:
# use the round function to round the values of the dataframe to 1 decimal and update the dataframe

# Value Counts

In [16]:
# count elements in "Genre" column by category and return the relative frequency

# Rename Columns

In [17]:
# rename columns "User Rating," "Critic Rating" and "Average Rating" to "UR," "CR" and "AR" then update the dataframe with the inplace paraneter

In [18]:
# show first 5 rows

In [19]:
# select only "Name", "Author", "UR", "CR", "AR" and "Year" columns and update dataframe

# Sort a dataframe

In [20]:
# sort the dataframe descending by "UR" and "CR"