In [30]:
import pandas as pd

In [31]:
# Optional: use the pd.set_option() to display all rows in a dataframe by default

# Create a DataFrame

In [32]:
# read the "bestsellers with categories" csv file (Dataset on Amazon's Top 50 bestselling books from 2009 to 2019.)
df_amazon_bestsellers = pd.read_csv('bestsellers+with+categories.csv')
df_amazon_bestsellers

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [33]:
# get access to the shape attribute
df_amazon_bestsellers.shape

(550, 7)

In [34]:
# find the data types of each column
df_amazon_bestsellers.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

# Disaplying a DataFrame

In [35]:
# show first 5 rows in a dataframe
df_amazon_bestsellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [36]:
# describe basic statistics of the dataframe (mean, std, min, max)
df_amazon_bestsellers.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

# Add a new Column with an array

In [37]:

# Your task is to create a column named 'Critic Rating' that should have random integer numbers between 1 and 4

# 1. import numpy and create 550 random integer numbers between 1 and 4
import numpy as np

random_ratings = np.random.randint(1, 4, 550)  #(low, high, size)

# 2. add new 'Critic Rating' column to dataframe using the random numbers created
df_amazon_bestsellers['Critic Rating'] = random_ratings
df_amazon_bestsellers

# Note the random numbers in this new 'Critic Rating' column will be different between your solution and mine, but we'll focus only on the code, in this section.

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,1
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,3
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,1
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,2
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,1
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,1
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,3
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,1
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,3

In [38]:
# show first 5 rows
df_amazon_bestsellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,1
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,3
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,1
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,2

# Basic Attributes, Methods and Functions

In [39]:
# get access to the columns attribute

# Selecting Two or More Columns from a Dataframe

In [40]:
# move the new 'Critic Rating' column between the columns "User Rating" and "Reviews" Then update the dataframe
df_amazon_bestsellers = df_amazon_bestsellers[
    ['Name', 'Author', 'User Rating', 'Critic Rating', 'Reviews', 'Price', 'Year', 'Genre']]
df_amazon_bestsellers
# Tip: Copy and paste the column names obtained with the columns attribute and then rearrange elements using [[]]

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,1,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,1,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,1,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2019,Non Fiction

In [41]:
# show first 5 rows
df_amazon_bestsellers.head()

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,1,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,1,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction

# Operations on Dataframes

In [42]:
# create a column named "Average Rating" by using the following formula: Average Rating = (User Rating + Critic Rating)/2
df_amazon_bestsellers["Average Rating"] = (df_amazon_bestsellers['User Rating'] + df_amazon_bestsellers[
    'Critic Rating']) / 2
df_amazon_bestsellers

C:\Users\yomax\AppData\Local\Temp\ipykernel_8744\1040399006.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_amazon_bestsellers["Average Rating"] = (df_amazon_bestsellers['User Rating'] + df_amazon_bestsellers[

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre,Average Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,17350,8,2016,Non Fiction,2.85
1,11/22/63: A Novel,Stephen King,4.6,1,2052,22,2011,Fiction,2.80
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3,18979,15,2018,Non Fiction,3.85
3,1984 (Signet Classics),George Orwell,4.7,1,21424,6,2017,Fiction,2.85
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction,3.40
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,1,9413,8,2019,Fiction,2.95
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2016,Non Fiction,2.85
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2017,Non Fiction,3.85
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction,2.85
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2019,Non Fiction,3.85

In [43]:
# use the round function to round the values of the dataframe to 1 decimal and update the dataframe
df_amazon_bestsellers = round(df_amazon_bestsellers, 1)
df_amazon_bestsellers

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre,Average Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,17350,8,2016,Non Fiction,2.8
1,11/22/63: A Novel,Stephen King,4.6,1,2052,22,2011,Fiction,2.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3,18979,15,2018,Non Fiction,3.8
3,1984 (Signet Classics),George Orwell,4.7,1,21424,6,2017,Fiction,2.8
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction,3.4
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,1,9413,8,2019,Fiction,3.0
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2016,Non Fiction,2.8
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2017,Non Fiction,3.8
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction,2.8
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2019,Non Fiction,3.8

# Value Counts

In [44]:
# count elements in "Genre" column by category and return the relative frequency
df_amazon_bestsellers['Genre'].value_counts()

Genre
Non Fiction    310
Fiction        240
Name: count, dtype: int64

# Rename Columns

In [45]:
# rename columns "User Rating," "Critic Rating" and "Average Rating" to "UR," "CR" and "AR" then update the dataframe with the inplace parameter
df_amazon_bestsellers.rename(columns={
    "User Rating": "UR",
    "Critic Rating": "CR",
    "Average Rating": "AR", },
    inplace=True)
df_amazon_bestsellers

,Name,Author,UR,CR,Reviews,Price,Year,Genre,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,17350,8,2016,Non Fiction,2.8
1,11/22/63: A Novel,Stephen King,4.6,1,2052,22,2011,Fiction,2.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3,18979,15,2018,Non Fiction,3.8
3,1984 (Signet Classics),George Orwell,4.7,1,21424,6,2017,Fiction,2.8
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction,3.4
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,1,9413,8,2019,Fiction,3.0
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2016,Non Fiction,2.8
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2017,Non Fiction,3.8
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction,2.8
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2019,Non Fiction,3.8

In [46]:
# show first 5 rows
df_amazon_bestsellers.head()

,Name,Author,UR,CR,Reviews,Price,Year,Genre,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,17350,8,2016,Non Fiction,2.8
1,11/22/63: A Novel,Stephen King,4.6,1,2052,22,2011,Fiction,2.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3,18979,15,2018,Non Fiction,3.8
3,1984 (Signet Classics),George Orwell,4.7,1,21424,6,2017,Fiction,2.8
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction,3.4

In [47]:
# select only "Name", "Author", "UR", "CR", "AR" and "Year" columns and update dataframe
df_amazon_bestsellers = df_amazon_bestsellers[["Name", "Author", "UR", "CR", "AR", 'Year']]
df_amazon_bestsellers

,Name,Author,UR,CR,AR,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,2.8,2016
1,11/22/63: A Novel,Stephen King,4.6,1,2.8,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3,3.8,2018
3,1984 (Signet Classics),George Orwell,4.7,1,2.8,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,3.4,2019
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,1,3.0,2019
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,2.8,2016
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,3.8,2017
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,2.8,2018
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,3.8,2019

# Sort a dataframe

In [52]:
# sort the dataframe descending by "UR" and "CR"
df_amazon_bestsellers.sort_values(['UR', 'CR'],ascending=False)
df_amazon_bestsellers

,Name,Author,UR,CR,AR,Year
85,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,4.9,3,4.0,2019
146,"Goodnight, Goodnight Construction Site (Hardco...",Sherri Duskey Rinker,4.9,3,4.0,2012
156,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,4.9,3,4.0,2017
157,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,4.9,3,4.0,2016
187,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9,3,4.0,2011
...,...,...,...,...,...,...
393,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,2,3.0,2014
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,2,2.9,2013
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,1,2.4,2012
132,Go Set a Watchman: A Novel,Harper Lee,3.6,2,2.8,2015
353,The Casual Vacancy,J.K. Rowling,3.3,3,3.2,2012