In [121]:
import pandas as pd

In [122]:
df_players = pd.read_csv('players_20.csv')

In [123]:
df_players

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [124]:
df_players.set_index('short_name', inplace= True)

In [125]:
df_players = df_players[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [126]:
df_players

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [127]:
# get all data for Messi
df_players.loc['L. Messi']

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [128]:
df_players.iloc[0]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [129]:
df_players.loc['L. Messi', 'age']

32

In [130]:
df_players.iloc[0,1]

32

In [131]:
df_players.loc['L. Messi', 'nationality']

'Argentina'

In [132]:
df_players.loc['L. Messi', :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [133]:
df_players.loc[['L. Messi', 'Cristiano Ronaldo']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [134]:
df_players.loc[['L. Messi', 'Cristiano Ronaldo'], ['age', 'dob']]

                   age         dob
short_name
L. Messi            32  1987-06-24
Cristiano Ronaldo   34  1985-02-05

In [135]:
df_players.loc[['L. Messi'], ['age', 'dob']]

            age         dob
short_name
L. Messi     32  1987-06-24

In [136]:
df_players

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [137]:
df_players.index[:10]

Index(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'J. Oblak', 'E. Hazard',
       'K. De Bruyne', 'M. ter Stegen', 'V. van Dijk', 'L. Modrić',
       'M. Salah'],
      dtype='object', name='short_name')

In [138]:
df_players.loc['L. Messi': 'M. Salah']

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool
L. Modrić,Luka Modrić,33,1985-09-09,172,66,Croatia,Real Madrid
M. Salah,Mohamed Salah Ghaly,27,1992-06-15,175,71,Egypt,Liverpool

In [139]:
needed_info = ['age', 'club']

In [140]:
df_players.loc['L. Messi': 'M. Salah', needed_info]

                   age                 club
short_name
L. Messi            32         FC Barcelona
Cristiano Ronaldo   34             Juventus
Neymar Jr           27  Paris Saint-Germain
J. Oblak            26      Atlético Madrid
E. Hazard           28          Real Madrid
K. De Bruyne        28      Manchester City
M. ter Stegen       27         FC Barcelona
V. van Dijk         27            Liverpool
L. Modrić           33          Real Madrid
M. Salah            27            Liverpool

In [141]:
some_players = ['L. Messi', 'M. Salah']
df_players.loc[some_players, needed_info]

            age          club
short_name
L. Messi     32  FC Barcelona
M. Salah     27     Liverpool

In [142]:
condition = df_players['height_cm'] > 180
columns = ['age', 'dob', 'height_cm','club']

In [143]:
df_players.loc[condition, columns]

                   age         dob  height_cm                           club
short_name
Cristiano Ronaldo   34  1985-02-05        187                       Juventus
J. Oblak            26  1993-01-07        188                Atlético Madrid
K. De Bruyne        28  1991-06-28        181                Manchester City
M. ter Stegen       27  1992-04-30        187                   FC Barcelona
V. van Dijk         27  1991-07-08        193                      Liverpool
...                ...         ...        ...                            ...
P. Martin           20  1999-01-05        188                   Waterford FC
Shao Shuai          22  1997-03-10        186               Beijing Renhe FC
Zhang Wei           19  2000-05-16        186         Hebei China Fortune FC
Wang Haijian        18  2000-08-02        185  Shanghai Greenland Shenhua FC
Pan Ximing          26  1993-01-11        182         Hebei China Fortune FC

[9744 rows x 4 columns]

In [144]:
condition_of_height = df_players['height_cm'] > 180
condition_of_nationality = df_players['nationality'] == 'England'

df_players.loc[condition_of_height & condition_of_nationality]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
H. Kane,Harry Kane,25,1993-07-28,188,89,England,Tottenham Hotspur
D. Alli,Bamidele Alli,23,1996-04-11,188,80,England,Tottenham Hotspur
K. Walker,Kyle Walker,29,1990-05-28,183,70,England,Manchester City
M. Rashford,Marcus Rashford,21,1997-10-31,186,70,England,Manchester United
J. Stones,John Stones,25,1994-05-28,188,70,England,Manchester City
...,...,...,...,...,...,...,...
C. Painter,Cameron Painter,17,2002-02-22,183,75,England,Grimsby Town
C. Pattison,Charlie Pattison,18,2000-12-28,185,70,England,Milton Keynes Dons
G. Sykes-Kenworthy,George Sykes-Kenworthy,19,1999-10-01,182,78,England,Bradford City
C. Heath,Connor Heath,18,2000-12-11,188,78,England,Crewe Alexandra
S. Cartwright,Samuel Cartwright,18,2000-07-08,185,75,England,Peterborough United

In [145]:

df_players.loc[condition_of_height & condition_of_nationality, columns]

                    age         dob  height_cm                 club
short_name
H. Kane              25  1993-07-28        188    Tottenham Hotspur
D. Alli              23  1996-04-11        188    Tottenham Hotspur
K. Walker            29  1990-05-28        183      Manchester City
M. Rashford          21  1997-10-31        186    Manchester United
J. Stones            25  1994-05-28        188      Manchester City
...                 ...         ...        ...                  ...
C. Painter           17  2002-02-22        183         Grimsby Town
C. Pattison          18  2000-12-28        185   Milton Keynes Dons
G. Sykes-Kenworthy   19  1999-10-01        182        Bradford City
C. Heath             18  2000-12-11        188      Crewe Alexandra
S. Cartwright        18  2000-07-08        185  Peterborough United

[897 rows x 4 columns]

In [146]:
condition_of_argentina = df_players['nationality'] == "Argentina"

In [147]:
df_players.loc[condition_of_nationality, 'nationality']

short_name
H. Kane          England
R. Sterling      England
J. Sancho        England
D. Alli          England
K. Walker        England
                  ...
N. Morley        England
C. Heath         England
S. Cartwright    England
L. Offord        England
M. Sagaf         England
Name: nationality, Length: 1667, dtype: object

In [148]:
df_players['nationality']

short_name
L. Messi             Argentina
Cristiano Ronaldo     Portugal
Neymar Jr               Brazil
J. Oblak              Slovenia
E. Hazard              Belgium
                       ...
Shao Shuai            China PR
Xiao Mingjie          China PR
Zhang Wei             China PR
Wang Haijian          China PR
Pan Ximing            China PR
Name: nationality, Length: 18278, dtype: object

In [149]:
df_players

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [152]:
df_players.iloc[0, 3]

170

In [156]:
df_players.iloc[:, 3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [157]:
df_players.iloc[0, :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object