In [1]:
import numpy as np
import pandas as pd

In [2]:
df_players = pd.read_csv('players_20.csv')

In [3]:
df_players

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [4]:
df_players.set_index('short_name', inplace=True)

In [5]:
df_players = df_players[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [6]:
df_players

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [7]:
# get all data for Messi
df_players.loc['L. Messi']

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [8]:
df_players.iloc[0]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [9]:
df_players.loc['L. Messi', 'age']

32

In [10]:
df_players.iloc[0, 1]

32

In [11]:
df_players.loc['L. Messi', 'nationality']

'Argentina'

In [12]:
df_players.loc['L. Messi', :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [13]:
df_players.loc[['L. Messi', 'Cristiano Ronaldo']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [14]:
df_players.loc[['L. Messi', 'Cristiano Ronaldo'], ['age', 'dob']]

                   age         dob
short_name
L. Messi            32  1987-06-24
Cristiano Ronaldo   34  1985-02-05

In [15]:
df_players.loc[['L. Messi'], ['age', 'dob']]

            age         dob
short_name
L. Messi     32  1987-06-24

In [16]:
df_players

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [17]:
df_players.index[:10]

Index(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'J. Oblak', 'E. Hazard',
       'K. De Bruyne', 'M. ter Stegen', 'V. van Dijk', 'L. Modrić',
       'M. Salah'],
      dtype='object', name='short_name')

In [18]:
df_players.loc['L. Messi': 'M. Salah']

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool
L. Modrić,Luka Modrić,33,1985-09-09,172,66,Croatia,Real Madrid
M. Salah,Mohamed Salah Ghaly,27,1992-06-15,175,71,Egypt,Liverpool

In [19]:
needed_info = ['age', 'club']

In [20]:
df_players.loc['L. Messi': 'M. Salah', needed_info]

                   age                 club
short_name
L. Messi            32         FC Barcelona
Cristiano Ronaldo   34             Juventus
Neymar Jr           27  Paris Saint-Germain
J. Oblak            26      Atlético Madrid
E. Hazard           28          Real Madrid
K. De Bruyne        28      Manchester City
M. ter Stegen       27         FC Barcelona
V. van Dijk         27            Liverpool
L. Modrić           33          Real Madrid
M. Salah            27            Liverpool

In [21]:
some_players = ['L. Messi', 'M. Salah']
df_players.loc[some_players, needed_info]

            age          club
short_name
L. Messi     32  FC Barcelona
M. Salah     27     Liverpool

In [22]:
condition = df_players['height_cm'] > 180
columns = ['age', 'dob', 'height_cm', 'club']

In [23]:
df_players.loc[condition, columns]

                   age         dob  height_cm                           club
short_name
Cristiano Ronaldo   34  1985-02-05        187                       Juventus
J. Oblak            26  1993-01-07        188                Atlético Madrid
K. De Bruyne        28  1991-06-28        181                Manchester City
M. ter Stegen       27  1992-04-30        187                   FC Barcelona
V. van Dijk         27  1991-07-08        193                      Liverpool
...                ...         ...        ...                            ...
P. Martin           20  1999-01-05        188                   Waterford FC
Shao Shuai          22  1997-03-10        186               Beijing Renhe FC
Zhang Wei           19  2000-05-16        186         Hebei China Fortune FC
Wang Haijian        18  2000-08-02        185  Shanghai Greenland Shenhua FC
Pan Ximing          26  1993-01-11        182         Hebei China Fortune FC

[9744 rows x 4 columns]

In [24]:
condition_of_height = df_players['height_cm'] > 180
condition_of_nationality = df_players['nationality'] == 'England'

df_players.loc[condition_of_height & condition_of_nationality]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
H. Kane,Harry Kane,25,1993-07-28,188,89,England,Tottenham Hotspur
D. Alli,Bamidele Alli,23,1996-04-11,188,80,England,Tottenham Hotspur
K. Walker,Kyle Walker,29,1990-05-28,183,70,England,Manchester City
M. Rashford,Marcus Rashford,21,1997-10-31,186,70,England,Manchester United
J. Stones,John Stones,25,1994-05-28,188,70,England,Manchester City
...,...,...,...,...,...,...,...
C. Painter,Cameron Painter,17,2002-02-22,183,75,England,Grimsby Town
C. Pattison,Charlie Pattison,18,2000-12-28,185,70,England,Milton Keynes Dons
G. Sykes-Kenworthy,George Sykes-Kenworthy,19,1999-10-01,182,78,England,Bradford City
C. Heath,Connor Heath,18,2000-12-11,188,78,England,Crewe Alexandra
S. Cartwright,Samuel Cartwright,18,2000-07-08,185,75,England,Peterborough United

In [25]:

df_players.loc[condition_of_height & condition_of_nationality, columns]

                    age         dob  height_cm                 club
short_name
H. Kane              25  1993-07-28        188    Tottenham Hotspur
D. Alli              23  1996-04-11        188    Tottenham Hotspur
K. Walker            29  1990-05-28        183      Manchester City
M. Rashford          21  1997-10-31        186    Manchester United
J. Stones            25  1994-05-28        188      Manchester City
...                 ...         ...        ...                  ...
C. Painter           17  2002-02-22        183         Grimsby Town
C. Pattison          18  2000-12-28        185   Milton Keynes Dons
G. Sykes-Kenworthy   19  1999-10-01        182        Bradford City
C. Heath             18  2000-12-11        188      Crewe Alexandra
S. Cartwright        18  2000-07-08        185  Peterborough United

[897 rows x 4 columns]

In [26]:
condition_of_argentina = df_players['nationality'] == "Argentina"

In [27]:
df_players.loc[condition_of_nationality, 'nationality']

short_name
H. Kane          England
R. Sterling      England
J. Sancho        England
D. Alli          England
K. Walker        England
                  ...
N. Morley        England
C. Heath         England
S. Cartwright    England
L. Offord        England
M. Sagaf         England
Name: nationality, Length: 1667, dtype: object

In [28]:
df_players['nationality']

short_name
L. Messi             Argentina
Cristiano Ronaldo     Portugal
Neymar Jr               Brazil
J. Oblak              Slovenia
E. Hazard              Belgium
                       ...
Shao Shuai            China PR
Xiao Mingjie          China PR
Zhang Wei             China PR
Wang Haijian          China PR
Pan Ximing            China PR
Name: nationality, Length: 18278, dtype: object

In [29]:
df_players

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [30]:
df_players.iloc[0, 3]

170

In [31]:
df_players.iloc[:, 3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [32]:
df_players.iloc[0, :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [33]:
df_players

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [34]:
# import numpy as np
df_players.iloc[-1, :] = np.nan

In [35]:
df_players

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,170.0,72.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,187.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1993-01-07,188.0,87.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,74.0,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22.0,1997-03-10,186.0,79.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,177.0,66.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,19.0,2000-05-16,186.0,75.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18.0,2000-08-02,185.0,74.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
con1 = df_players['age'] > 35
con2 = df_players['nationality'] == "England"
df_players.loc[con1 & con2]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
B. Foster,Ben Foster,36.0,1983-04-03,193.0,90.0,England,Watford
J. Defoe,Jermain Defoe,36.0,1982-10-07,171.0,65.0,England,Rangers FC
P. Jagielka,Phil Jagielka,36.0,1982-08-17,180.0,87.0,England,Sheffield United
L. Grant,Lee Grant,36.0,1983-01-27,193.0,83.0,England,Manchester United
J. Coppinger,James Coppinger,38.0,1981-01-10,170.0,65.0,England,Doncaster Rovers
J. Bothroyd,Jay Bothroyd,37.0,1982-05-07,190.0,89.0,England,Hokkaido Consadole Sapporo
A. Akinfenwa,Adebayo Akinfenwa,37.0,1982-05-10,178.0,110.0,England,Wycombe Wanderers
L. Varney,Luke Varney,36.0,1982-09-28,180.0,70.0,England,Cheltenham Town
D. Perkins,David Perkins,37.0,1982-06-21,168.0,76.0,England,Tranmere Rovers
N. Bishop,Neal Bishop,37.0,1981-08-07,186.0,81.0,England,Mansfield Town
P. Clarke,Peter Clarke,37.0,1982-01-03,183.0,83.0,England,Fleetwood Town
A. Wilbraham,Aaron Wilbraham,39.0,1979-10-21,191.0,80.0,England,Rochdale
M. Richards,Marc Richards,36.0,1982-07-08,180.0,81.0,England,Cambridge United
S. Bywater,Stephen Bywater,38.0,1981-06-07,185.0,81.0,England,Burton Albion
C. Woodman,Craig Alan Woodman,36.0,1982-12-22,175.0,68.0,England,Exeter City
M. Rose,Michael Rose,36.0,1982-07-28,180.0,78.0,England,Macclesfield Town
D. Bulman,Dannie Bulman,40.0,1979-01-24,175.0,75.0,England,Crawley Town
J. Ibehre,Jabo Ibehre,36.0,1983-01-28,194.0,92.0,England,Cambridge United
S. Russell,Sam Russell,36.0,1982-10-04,183.0,70.0,England,Grimsby Town
K. Ellison,Kevin Ellison,40.0,1979-02-23,180.0,76.0,England,Morecambe
J. McCombe,Jamie McCombe,36.0,1983-01-01,196.0,79.0,England,Lincoln City

In [37]:
condition = df_players['height_cm'] > 200
columns = ['age', 'height_cm', 'dob', 'weight']
df_players.loc[condition, columns] = 0

In [38]:
df_players

,long_name,age,dob,height_cm,weight_kg,nationality,club,weight
short_name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,170.0,72.0,Argentina,FC Barcelona,NaN
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,187.0,83.0,Portugal,Juventus,NaN
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,68.0,Brazil,Paris Saint-Germain,NaN
J. Oblak,Jan Oblak,26.0,1993-01-07,188.0,87.0,Slovenia,Atlético Madrid,NaN
E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,74.0,Belgium,Real Madrid,NaN
...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22.0,1997-03-10,186.0,79.0,China PR,Beijing Renhe FC,NaN
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,177.0,66.0,China PR,Shanghai SIPG FC,NaN
Zhang Wei,张威,19.0,2000-05-16,186.0,75.0,China PR,Hebei China Fortune FC,NaN
Wang Haijian,汪海健,18.0,2000-08-02,185.0,74.0,China PR,Shanghai Greenland Shenhua FC,NaN
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df_players.loc[condition]

,long_name,age,dob,height_cm,weight_kg,nationality,club,weight
short_name,,,,,,,,
L. Kalinić,Lovre Kalinić,0.0,0,0.0,99.0,Croatia,Aston Villa,0.0
F. Forster,Fraser Forster,0.0,0,0.0,93.0,England,Southampton,0.0
C. Pantilimon,Costel Pantilimon,0.0,0,0.0,96.0,Romania,Nottingham Forest,0.0
K. Letica,Karlo Letica,0.0,0,0.0,96.0,Croatia,Club Brugge KV,0.0
P. Onuachu,Paul Ebere Onuachu,0.0,0,0.0,82.0,Nigeria,FC Midtjylland,0.0
H. Veerman,Henk Veerman,0.0,0,0.0,90.0,Netherlands,FC St. Pauli,0.0
V. Milinković-Savić,Vanja Milinković-Savić,0.0,0,0.0,92.0,Serbia,Standard de Liège,0.0
L. Traoré,Lacina Traoré,0.0,0,0.0,87.0,Ivory Coast,CFR Cluj,0.0
A. Vukotić,Aleksandar Vukotić,0.0,0,0.0,95.0,Serbia,Waasland-Beveren,0.0
A. Sjöberg,Axel Sjöberg,0.0,0,0.0,95.0,Sweden,Colorado Rapids,0.0
K. Scherpen,Kjell Scherpen,0.0,0,0.0,85.0,Netherlands,Ajax,0.0
A. Ba,Abdoul Ba,0.0,0,0.0,94.0,Mauritania,AJ Auxerre,0.0
S. Makienok,Simon Makienok Christoffersen,0.0,0,0.0,94.0,Denmark,FC Utrecht,0.0
T. Holý,Tomáš Holý,0.0,0,0.0,102.0,Czech Republic,Ipswich Town,0.0
E. Johansen,Eirik Holmen Johansen,0.0,0,0.0,102.0,Norway,SK Brann,0.0
A. Chapman,Aaron Chapman,0.0,0,0.0,92.0,England,Peterborough United,0.0
M. Qvist,Mikkel Mena Qvist,0.0,0,0.0,94.0,Denmark,AC Horsens,0.0
R. Laidlaw,Ross Laidlaw,0.0,0,0.0,85.0,Scotland,Ross County FC,0.0
K. Athiu,Kenny Athiu,0.0,0,0.0,85.0,South Sudan,Melbourne Victory,0.0
S. Brolin,Samuel Brolin,0.0,0,0.0,85.0,Sweden,AIK,0.0
M. Casey,Matt Casey,0.0,0,0.0,80.0,England,Portsmouth,0.0
D. Thiam,Demba Thiam,0.0,0,0.0,87.0,Senegal,SPAL,0.0

In [40]:
df = pd.read_csv('players_20.csv')
columns = ['short_name', 'long_name', 'age', 'height_cm', 'weight_kg', 'nationality', 'dob', 'club']
df = df[columns]

In [41]:
df.set_index('short_name', inplace=True)

In [42]:
df

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,1987-06-24,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,1985-02-05,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC

In [43]:
?

In [44]:
df

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,1987-06-24,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,1985-02-05,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC

In [45]:
df.drop(index=['J. Oblak'], inplace=True)

In [46]:
# df

In [47]:
# df.drop(['dob', 'age'], axis=1, inplace=True)

In [48]:
df.drop(['E. Hazard', 'K. De Bruyne'], axis=0, inplace=True)

In [49]:
df

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,1987-06-24,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,1985-02-05,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain
M. ter Stegen,Marc-André ter Stegen,27,187,85,Germany,1992-04-30,FC Barcelona
V. van Dijk,Virgil van Dijk,27,193,92,Netherlands,1991-07-08,Liverpool
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC

In [50]:
df['dob'] = 0

In [51]:
df

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,0,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,0,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,0,Paris Saint-Germain
M. ter Stegen,Marc-André ter Stegen,27,187,85,Germany,0,FC Barcelona
V. van Dijk,Virgil van Dijk,27,193,92,Netherlands,0,Liverpool
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,0,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,0,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,0,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,0,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,0,Hebei China Fortune FC

In [52]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)

In [53]:
columns = ['long_name', 'age', 'height_cm', 'weight_kg', 'nationality', 'dob', 'club']
df = df[columns]

In [54]:
df

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,1987-06-24,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,1985-02-05,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC

In [55]:
df['nationality'].sample(10)

short_name
A. Vogliacco              Italy
Sandro Manoel            Brazil
Hong Chul        Korea Republic
A. Paolucci               Italy
L. Beckemeyer           Germany
C. Neal                 England
S. Terodde              Germany
J. Bridge               England
M. Thiam                Senegal
D. Klaassen         Netherlands
Name: nationality, dtype: object

In [56]:
df.sample(frac=2, replace=True)
df

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,1987-06-24,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,1985-02-05,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC

In [57]:
df

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,1987-06-24,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,1985-02-05,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC

In [58]:
df

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,1987-06-24,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,1985-02-05,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC

In [59]:
df.query('age > 36 and nationality=="Sweden" and height_cm>188')

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
Z. Ibrahimović,Zlatan Ibrahimović,37,195,95,Sweden,1981-10-03,LA Galaxy

In [60]:
df.query('age > 36 and nationality=="Sweden" and height_cm>110 and age>=37')

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
Z. Ibrahimović,Zlatan Ibrahimović,37,195,95,Sweden,1981-10-03,LA Galaxy
J. Wiland,Johan Wiland,38,188,78,Sweden,1981-01-24,Hammarby IF
S. Ishizaki,Stefan Daisuke Ishizaki,37,181,81,Sweden,1982-05-15,IF Elfsborg

In [62]:
df.query("not age > 22")

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
K. Mbappé,Kylian Mbappé,20,178,73,France,1998-12-20,Paris Saint-Germain
M. de Ligt,Matthijs de Ligt,19,189,89,Netherlands,1999-08-12,Juventus
G. Donnarumma,Gianluigi Donnarumma,20,196,90,Italy,1999-02-25,Milan
F. de Jong,Frenkie de Jong,22,180,74,Netherlands,1997-05-12,FC Barcelona
J. Sancho,Jadon Sancho,19,180,76,England,2000-03-25,Borussia Dortmund
...,...,...,...,...,...,...,...
P. Martin,Paul Martin,20,188,84,Republic of Ireland,1999-01-05,Waterford FC
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC

In [64]:
df['dob'] = df['dob'].astype('datetime64[ns]')

In [65]:
df.query('dob.dt.year > 1990')

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,181,70,Belgium,1991-06-28,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,187,85,Germany,1992-04-30,FC Barcelona
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC

In [66]:
df.query('dob.dt.month > 11')

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
K. Mbappé,Kylian Mbappé,20,178,73,France,1998-12-20,Paris Saint-Germain
R. Sterling,Raheem Sterling,24,170,69,England,1994-12-08,Manchester City
H. Lloris,Hugo Lloris,32,188,82,France,1986-12-26,Tottenham Hotspur
K. Benzema,Karim Benzema,31,185,81,France,1987-12-19,Real Madrid
M. Hummels,Mats Hummels,30,191,94,Germany,1988-12-16,Borussia Dortmund
...,...,...,...,...,...,...,...
K. Barker,Kyle Barker,18,176,71,England,2000-12-16,Peterborough United
C. Pattison,Charlie Pattison,18,185,70,England,2000-12-28,Milton Keynes Dons
C. Heath,Connor Heath,18,188,78,England,2000-12-11,Crewe Alexandra
S. Callan,Sean Callan,19,182,80,Republic of Ireland,1999-12-14,Shamrock Rovers
F. Nevarez,Francisco Nevarez,18,178,69,Mexico,2000-12-03,FC Juárez

In [67]:
df.query('dob.dt.day > 30')

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
M. Reus,Marco Reus,30,180,71,Germany,1989-05-31,Borussia Dortmund
M. Rashford,Marcus Rashford,21,186,70,England,1997-10-31,Manchester United
D. Djené,Djené Dakonam Ortega,27,178,72,Togo,1991-12-31,Getafe CF
F. Quagliarella,Fabio Quagliarella,36,180,79,Italy,1983-01-31,Sampdoria
N. Tagliafico,Nicolás Alejandro Tagliafico,26,172,65,Argentina,1992-08-31,Ajax
...,...,...,...,...,...,...,...
E. Simonsen,Emilio Simonsen,19,170,60,Denmark,1999-10-31,Lyngby BK
T. Brownsword,Tyler Brownsword,19,180,73,England,1999-12-31,Morecambe
F. Beklevic,Furkan Beklevic,20,182,73,Turkey,1999-01-31,MKE Ankaragücü
S. Spasov,Slavi Spasov,17,171,56,Bulgaria,2001-12-31,Oxford United
N. Fuentes,Nicolás Fuentes,19,172,66,Chile,1999-08-31,Unión Española

In [70]:
df['dob'] = df['dob'].astype('datetime64[ns]')

In [71]:
df

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,1987-06-24,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,1985-02-05,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC

In [72]:
df.dtypes

long_name              object
age                     int64
height_cm               int64
weight_kg               int64
nationality            object
dob            datetime64[ns]
club                   object
dtype: object

In [80]:
cond = df['dob'].dt.year > 1990
df[cond]

,long_name,age,height_cm,weight_kg,nationality,dob,club
short_name,,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,181,70,Belgium,1991-06-28,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,187,85,Germany,1992-04-30,FC Barcelona
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC

In [92]:
df['any_data'] = df['age'].apply(np.sqrt)

In [93]:
def calculate_something(df):
    return df['age'] * df['height_cm']

In [85]:
df['data'] = df.apply(calculate_something, axis = 1)
df

,long_name,age,height_cm,weight_kg,nationality,dob,club,data
short_name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,1987-06-24,FC Barcelona,5440
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,1985-02-05,Juventus,6358
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain,4725
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid,4888
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid,4900
...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC,4092
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC,3894
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC,3534
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC,3330
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC,4732

In [112]:
df['long_name'].str.upper()

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [109]:
df['long_name'].apply(lambda x: x.lower())

short_name
L. Messi                  lionel andrés messi cuccittini
Cristiano Ronaldo    cristiano ronaldo dos santos aveiro
Neymar Jr                  neymar da silva santos junior
J. Oblak                                       jan oblak
E. Hazard                                    eden hazard
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                mingjie xiao
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

,long_name,age,height_cm,weight_kg,nationality,dob,club,data,any_data
short_name,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,1987-06-24,FC Barcelona,5440,5.656854
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,1985-02-05,Juventus,6358,5.830952
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,1992-02-05,Paris Saint-Germain,4725,5.196152
J. Oblak,Jan Oblak,26,188,87,Slovenia,1993-01-07,Atlético Madrid,4888,5.099020
E. Hazard,Eden Hazard,28,175,74,Belgium,1991-01-07,Real Madrid,4900,5.291503
...,...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,1997-03-10,Beijing Renhe FC,4092,4.690416
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,1997-01-01,Shanghai SIPG FC,3894,4.690416
Zhang Wei,张威,19,186,75,China PR,2000-05-16,Hebei China Fortune FC,3534,4.358899
Wang Haijian,汪海健,18,185,74,China PR,2000-08-02,Shanghai Greenland Shenhua FC,3330,4.242641
Pan Ximing,潘喜明,26,182,78,China PR,1993-01-11,Hebei China Fortune FC,4732,5.099020

In [97]:
df['any_data'] = df['any_data'].apply(lambda x: round(x, 2))

In [101]:
from math import ceil

df['any_data'].apply(lambda x: ceil(x))

short_name
L. Messi             6
Cristiano Ronaldo    6
Neymar Jr            6
J. Oblak             6
E. Hazard            6
                    ..
Shao Shuai           5
Xiao Mingjie         5
Zhang Wei            5
Wang Haijian         5
Pan Ximing           6
Name: any_data, Length: 18278, dtype: int64

In [103]:
from math import floor

df['any_data'].apply(lambda x: floor(x))

short_name
L. Messi             5
Cristiano Ronaldo    5
Neymar Jr            5
J. Oblak             5
E. Hazard            5
                    ..
Shao Shuai           4
Xiao Mingjie         4
Zhang Wei            4
Wang Haijian         4
Pan Ximing           5
Name: any_data, Length: 18278, dtype: int64

In [108]:
df.loc['L. Messi', ['age', 'dob']]

age                     32
dob    1987-06-24 00:00:00
Name: L. Messi, dtype: object

In [117]:
df['dob'] = df['dob'].astype('string')

In [143]:
df['dob'] = df['dob'].apply(lambda x: x.split('-'))

AttributeError: 'list' object has no attribute 'split'

In [144]:
df['dob'].apply(lambda x: x[0])

short_name
L. Messi             1987
Cristiano Ronaldo    1985
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: object

In [130]:
df['dob'].apply(lambda x: x[1])

short_name
L. Messi             06
Cristiano Ronaldo    02
Neymar Jr            02
J. Oblak             01
E. Hazard            01
                     ..
Shao Shuai           03
Xiao Mingjie         01
Zhang Wei            05
Wang Haijian         08
Pan Ximing           01
Name: dob, Length: 18278, dtype: object

In [134]:
df.dtypes

long_name       object
age              int64
height_cm        int64
weight_kg        int64
nationality     object
dob             object
club            object
data             int64
any_data       float64
dtype: object

In [135]:
df['long_name'].astype('string')

short_name
L. Messi                  Lionel Andrés Messi Cuccittini
Cristiano Ronaldo    Cristiano Ronaldo dos Santos Aveiro
Neymar Jr                  Neymar da Silva Santos Junior
J. Oblak                                       Jan Oblak
E. Hazard                                    Eden Hazard
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                Mingjie Xiao
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: string

In [141]:
df['long_name'].apply(lambda x: x.split(' ')[0])
# df['first_name'] = df['long_name'].apply(lambda x: x[0])

short_name
L. Messi                Lionel
Cristiano Ronaldo    Cristiano
Neymar Jr               Neymar
J. Oblak                   Jan
E. Hazard                 Eden
                       ...
Shao Shuai                  邵帅
Xiao Mingjie           Mingjie
Zhang Wei                   张威
Wang Haijian               汪海健
Pan Ximing                 潘喜明
Name: long_name, Length: 18278, dtype: object

In [145]:
df_deep_copy = df.copy()

In [146]:
df_deep_copy

,long_name,age,height_cm,weight_kg,nationality,dob,club,data,any_data,first_name
short_name,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,"[1987, 06, 24]",FC Barcelona,5440,5.66,L
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,"[1985, 02, 05]",Juventus,6358,5.83,C
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,"[1992, 02, 05]",Paris Saint-Germain,4725,5.20,N
J. Oblak,Jan Oblak,26,188,87,Slovenia,"[1993, 01, 07]",Atlético Madrid,4888,5.10,J
E. Hazard,Eden Hazard,28,175,74,Belgium,"[1991, 01, 07]",Real Madrid,4900,5.29,E
...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,"[1997, 03, 10]",Beijing Renhe FC,4092,4.69,邵
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,"[1997, 01, 01]",Shanghai SIPG FC,3894,4.69,M
Zhang Wei,张威,19,186,75,China PR,"[2000, 05, 16]",Hebei China Fortune FC,3534,4.36,张
Wang Haijian,汪海健,18,185,74,China PR,"[2000, 08, 02]",Shanghai Greenland Shenhua FC,3330,4.24,汪
Pan Ximing,潘喜明,26,182,78,China PR,"[1993, 01, 11]",Hebei China Fortune FC,4732,5.10,潘

In [152]:
df.loc['L. Messi', 'age'] = 100

In [154]:
df_deep_copy

,long_name,age,height_cm,weight_kg,nationality,dob,club,data,any_data,first_name
short_name,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,"[1987, 06, 24]",FC Barcelona,5440,5.66,L
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,"[1985, 02, 05]",Juventus,6358,5.83,C
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,"[1992, 02, 05]",Paris Saint-Germain,4725,5.20,N
J. Oblak,Jan Oblak,26,188,87,Slovenia,"[1993, 01, 07]",Atlético Madrid,4888,5.10,J
E. Hazard,Eden Hazard,28,175,74,Belgium,"[1991, 01, 07]",Real Madrid,4900,5.29,E
...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,186,79,China PR,"[1997, 03, 10]",Beijing Renhe FC,4092,4.69,邵
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,"[1997, 01, 01]",Shanghai SIPG FC,3894,4.69,M
Zhang Wei,张威,19,186,75,China PR,"[2000, 05, 16]",Hebei China Fortune FC,3534,4.36,张
Wang Haijian,汪海健,18,185,74,China PR,"[2000, 08, 02]",Shanghai Greenland Shenhua FC,3330,4.24,汪
Pan Ximing,潘喜明,26,182,78,China PR,"[1993, 01, 11]",Hebei China Fortune FC,4732,5.10,潘

In [155]:
df_shallow_copy = df.copy(deep = False)

In [156]:
df.loc['J. Oblak', 'age'] = 200

In [157]:
df_shallow_copy

,long_name,age,height_cm,weight_kg,nationality,dob,club,data,any_data,first_name,"(L. Messsi, age)"
short_name,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,100.0,170.0,72.0,Argentina,"[1987, 06, 24]",FC Barcelona,5440.0,5.66,L,100.0
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,187.0,83.0,Portugal,"[1985, 02, 05]",Juventus,6358.0,5.83,C,100.0
Neymar Jr,Neymar da Silva Santos Junior,27.0,175.0,68.0,Brazil,"[1992, 02, 05]",Paris Saint-Germain,4725.0,5.20,N,100.0
J. Oblak,Jan Oblak,200.0,188.0,87.0,Slovenia,"[1993, 01, 07]",Atlético Madrid,4888.0,5.10,J,100.0
E. Hazard,Eden Hazard,28.0,175.0,74.0,Belgium,"[1991, 01, 07]",Real Madrid,4900.0,5.29,E,100.0
...,...,...,...,...,...,...,...,...,...,...,...
Xiao Mingjie,Mingjie Xiao,22.0,177.0,66.0,China PR,"[1997, 01, 01]",Shanghai SIPG FC,3894.0,4.69,M,100.0
Zhang Wei,张威,19.0,186.0,75.0,China PR,"[2000, 05, 16]",Hebei China Fortune FC,3534.0,4.36,张,100.0
Wang Haijian,汪海健,18.0,185.0,74.0,China PR,"[2000, 08, 02]",Shanghai Greenland Shenhua FC,3330.0,4.24,汪,100.0
Pan Ximing,潘喜明,26.0,182.0,78.0,China PR,"[1993, 01, 11]",Hebei China Fortune FC,4732.0,5.10,潘,100.0
L. Messsi,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN