In [1]:
import random

import pandas as pd

In [2]:
# 21
# Write a piece of code that checks if the values of var2 in DataFrame df have duplicates;
# result to be stored as a variable in the same df.

dff = pd.DataFrame({
    'var1': [1, 2, 3, 4, 5, 5],
    'var2': [10, 20, 30, 20, 40, 10]
})

# Check for duplicates and store the result
dff['has_duplicates'] = dff.duplicated(subset='var2')

# Print the modified DataFrame
print(dff)

   var1  var2  has_duplicates
0     1    10           False
1     2    20           False
2     3    30           False
3     4    20            True
4     5    40           False
5     5    10            True

In [3]:
# 22
# You have 2 DataFrames: df1 and df2. Create df3 by merging them
# - based on variables ['First_Name'] in df1 and ['Name'] in df2;
# - take all observations, even if they don’t have a match;
# - create a variable "match_flag" that shows which dataframe the row comes from (e.g. only from a/only from b/from both ab).

import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'First_Name': ['John', 'Alice', 'Bob', 'Jane'],
    'Variable1': [10, 20, 30, 40]
})

df2 = pd.DataFrame({
    'Name': ['John', 'Alice', 'Tom', 'Jerry'],
    'Variable2': [100, 200, 300, 400]
})

# Merge df1 and df2 on specific variables
df3 = pd.merge(df1, df2, left_on='First_Name', right_on='Name', how='outer')

# Create match_flag column
df3['match_flag'] = df3.apply(lambda row: 'a' if pd.notnull(row['First_Name']) and pd.isnull(row['Name'])
                                else 'b' if pd.isnull(row['First_Name']) and pd.notnull(row['Name'])
                                else 'ab', axis=1)

print(df3)
# Drop the redundant 'Name' column
# df3.drop('Name', axis=1, inplace=True)
#
# # Print the merged DataFrame (df3)
# print(df3)

  First_Name  Variable1   Name  Variable2 match_flag
0       John       10.0   John      100.0         ab
1      Alice       20.0  Alice      200.0         ab
2        Bob       30.0    NaN        NaN          a
3       Jane       40.0    NaN        NaN          a
4        NaN        NaN    Tom      300.0          b
5        NaN        NaN  Jerry      400.0          b

In [4]:
# 23
# Create a DataFrame df2 that takes all rows from DataFrame df1 where variable "Sample" has value
# "development". Take only columns "Customer ID", "Marital status" and "Annual income"


# Sample DataFrame df1
df1 = pd.DataFrame({
    'Customer ID': ['C001', 'C002', 'C003', 'C004', 'C005'],
    'Sample': ['development', 'test', 'development', 'test', 'development'],
    'Marital status': ['Married', 'Single', 'Single', 'Married', 'Single'],
    'Annual income': [50000, 60000, 70000, 55000, 80000]
})

# Select rows based on "Sample" value and specific columns
df2 = df1[df1['Sample'] == 'development'][['Customer ID', 'Marital status', 'Annual income']]

# Print the resulting DataFrame (df2)
print(df2)

  Customer ID Marital status  Annual income
0        C001        Married          50000
2        C003         Single          70000
4        C005         Single          80000

In [5]:
import numpy as np

data = np.array([[1, 4], [2, 5], [3, 6]])

In [6]:
df = pd.DataFrame(data, columns = ['col1', 'col2'], index=['row','row2', 'row3'])
df

      col1  col2
row      1     4
row2     2     5
row3     3     6

In [7]:
len(df)

3

In [8]:
len(df.columns)

2

In [11]:
df_amazon = pd.read_csv('data_files/bestsellers+with+categories.csv')
df_amazon

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [12]:
df_amazon.shape

(550, 7)

In [13]:
df_amazon.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

In [16]:
df_amazon.tail()

,Name,Author,User Rating,Reviews,Price,Year,Genre
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [17]:
df_amazon.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [27]:
arr = np.arange(1, 551)
arr

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550])

In [28]:
import random
random.shuffle(arr)
arr

array([207, 416, 117, 243, 494, 488, 304, 227, 466, 457, 388,  99, 402,
       104, 417, 166, 481, 362,  87, 135, 254, 392,  75, 454, 511, 265,
       462, 129, 190, 255, 500, 160, 478, 317, 331, 336, 502, 525, 279,
       191, 204,  60, 357, 381, 384,  91,  24, 421, 272, 351, 131, 244,
       273, 240, 193, 420, 250, 344, 234, 222,  40, 543, 248,  64,  32,
        50,  21, 490, 359, 531, 367,   5, 326, 413,  34, 215, 153,  84,
       537, 356, 164,  88, 415, 154,   3,  53, 448, 389, 100, 126, 424,
       372, 289, 533, 495,  43,  58, 423,  76, 305,  77, 352, 270,  18,
       534, 261,  47, 365, 429, 447, 237, 532, 321, 316, 233, 156,  93,
        94, 186, 144, 368, 177, 458, 223, 197,   6, 515, 118, 143, 170,
       114, 386,   2, 180, 123, 266,  80, 314, 505, 496, 235, 464, 349,
       328, 510, 547, 396, 145, 232, 456,  37, 110,   4, 475, 341, 150,
       162, 507, 102, 449, 520, 169, 477, 366, 444, 113, 277, 522, 268,
        48, 327, 152, 306,  66, 410,  86, 161, 385, 211, 441, 535, 147,
       303, 176, 538,  85, 487, 288, 347, 124, 546, 219, 158, 127,  30,
        92, 479, 361, 342, 192, 319, 436, 119, 252,  96,  78, 506, 275,
       509, 283,  20, 550,  81, 504, 148, 189, 325, 524, 221, 482, 391,
       181, 141,  15, 291, 267, 171, 422, 369, 231, 465, 260, 374, 446,
       320, 149,  90, 309,  26, 115, 472, 297, 497, 403,  36, 242, 377,
        95, 264,  28, 116, 210, 253, 173, 125, 508,  54, 521, 340, 259,
       501, 271, 455,   8,  13,  98, 400, 350,  61, 133, 208, 527, 544,
       445, 183, 296, 247, 278,  82,  52, 136, 375, 333, 355, 295, 157,
       310,  73, 138, 528, 440, 301, 541, 491, 236, 363, 380, 165,  16,
       414, 343, 107, 200, 282, 463, 298, 379, 376, 348, 324,  97, 218,
        67, 474, 196,  19,  49, 174, 378, 202,  35, 453, 549, 214,  51,
         9, 358, 364, 540, 308, 434, 371, 101, 307, 353,  39, 205, 216,
       387, 483, 486, 485, 111, 175, 431, 529, 432, 195, 338, 418, 274,
       140, 398, 299, 476,  56, 311, 443,  22, 132, 185,  57, 206, 473,
       245, 182, 492, 530, 390, 258, 335, 142, 293,  31, 467, 249, 313,
       339,   7, 220, 397, 545, 442,  89, 330,  12, 179, 302,  41, 286,
        25,  27, 412, 122, 427, 163, 229, 228, 470, 383,  79, 519, 395,
       225, 290,  38,  68, 459,  69,  71, 512,  23,  42, 103, 503, 437,
       121, 284,  55, 460,  45, 256,  11, 217, 452, 238,  29, 213, 318,
       139, 516, 262, 209, 184, 172, 480, 542, 287, 263, 178, 224,  65,
       499, 408, 285, 137, 109, 203, 450, 526, 334, 382, 399, 518, 419,
       188, 281, 360, 112,  44,   1, 345,  72, 105, 523, 425, 513, 292,
       134,  63, 433, 155, 405, 120, 322, 246, 280, 168,  70, 194, 151,
        59, 469, 300, 493, 198, 294,  46, 329, 230,  17, 393, 276, 406,
       514, 130, 106, 471,  14, 548, 435, 370, 407, 315, 489, 394, 239,
        83, 332, 241, 201, 269, 401, 226, 498, 461, 167, 430, 484, 536,
       323, 438, 404, 411, 409, 337, 439, 354, 517, 199, 251, 187, 212,
        33,  62, 426, 539, 159,  74, 451, 257, 108, 428, 468, 373, 128,
        10, 146, 312, 346])

In [29]:
df_amazon['Critic Rating'] = arr

In [30]:
df_amazon

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,207
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,416
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,117
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,243
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,494
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,128
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,10
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,146
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,312
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,346

In [31]:
df_amazon.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre',
       'Critic Rating'],
      dtype='object')

In [33]:
df_amazon['Average Rating'] = (df_amazon['User Rating'] + df_amazon['Critic Rating'])/2
df_amazon

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating,Average Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,207,105.85
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,416,210.30
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,117,60.85
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,243,123.85
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,494,249.40
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,128,66.45
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,10,7.35
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,146,75.35
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,312,158.35
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,346,175.35

In [34]:
df_amazon.round(1)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating,Average Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,207,105.8
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,416,210.3
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,117,60.8
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,243,123.8
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,494,249.4
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,128,66.4
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,10,7.4
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,146,75.4
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,312,158.4
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,346,175.4

In [35]:
df_amazon['Genre'].value_counts()

Genre
Non Fiction    310
Fiction        240
Name: count, dtype: int64

In [36]:
df_amazon['Genre'].value_counts(normalize=True)

Genre
Non Fiction    0.563636
Fiction        0.436364
Name: proportion, dtype: float64

In [37]:
df_amazon.rename(columns={'User Rating':'UR',
                         'Critic Rating':'CR',
                         'Average Rating':'AR'}, inplace=True)

In [38]:
df_amazon

,Name,Author,UR,Reviews,Price,Year,Genre,CR,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,207,105.85
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,416,210.30
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,117,60.85
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,243,123.85
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,494,249.40
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,128,66.45
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,10,7.35
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,146,75.35
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,312,158.35
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,346,175.35

In [41]:
df_amazon.sort_values(['UR', 'CR'], ascending= False, inplace=True)
df_amazon

,Name,Author,UR,Reviews,Price,Year,Genre,CR,AR
190,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9,19576,8,2014,Non Fiction,546,275.45
289,Rush Revere and the First Patriots: Time-Trave...,Rush Limbaugh,4.9,3836,12,2014,Fiction,528,266.45
157,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,4.9,10052,22,2016,Fiction,507,255.95
219,Little Blue Truck,Alice Schertle,4.9,1884,0,2014,Fiction,482,243.45
153,Harry Potter and the Chamber of Secrets: The I...,J.K. Rowling,4.9,19622,30,2016,Fiction,475,239.95
...,...,...,...,...,...,...,...,...,...
22,Allegiant,Veronica Roth,3.9,6310,13,2013,Fiction,75,39.45
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,47265,14,2013,Fiction,365,184.40
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,47265,14,2012,Fiction,47,25.40
132,Go Set a Watchman: A Novel,Harper Lee,3.6,14982,19,2015,Fiction,2,2.80
353,The Casual Vacancy,J.K. Rowling,3.3,9372,12,2012,Fiction,299,151.15

In [6]:
import pandas as pd

df_laptops = pd.read_csv('data_files/laptop_price.csv', encoding='unicode_escape')
df_laptops.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00

In [7]:
df_laptops[df_laptops["Company"] != 'HP']

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
5,6,Acer,Aspire 3,Notebook,15.6,1366x768,AMD A9-Series 9420 3GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.1kg,400.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297,1315,Asus,X556UJ-XO044T (i7-6500U/4GB/500GB/GeForce,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,4GB,500GB HDD,Nvidia GeForce 920M,Windows 10,2.2kg,720.32
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

In [9]:
df_laptops[df_laptops["Company"] != 'HP'].value_counts('Company')

Company
Lenovo       297
Dell         297
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Mediacom       7
Razer          7
Microsoft      6
Vero           4
Xiaomi         4
Chuwi          3
Fujitsu        3
Google         3
LG             3
Huawei         2
Name: count, dtype: int64

In [12]:
df_laptops[df_laptops["Price_euros"] > 2000]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
12,13,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16GB,256GB SSD,AMD Radeon Pro 555,macOS,1.83kg,2439.97
17,18,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,2858.00
58,59,MSI,GS73VR 7RG,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 2TB HDD,Nvidia GeForce GTX 1070,Windows 10,2.43kg,2449.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,1221,Dell,XPS 13,Ultrabook,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7500U 2.7GHz,16GB,512GB SSD,Intel HD Graphics 620,Windows 10,1.2kg,2680.00
1209,1227,Asus,Rog Strix,Gaming,15.6,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,2.2kg,2449.00
1231,1249,Razer,Blade Pro,Gaming,14.0,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,1TB SSD,Nvidia GeForce GTX 1060,Windows 10,1.95kg,3499.00
1236,1254,HP,EliteBook 840,Ultrabook,14.0,2560x1440,Intel Core i7 6500U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 7,1.54kg,2198.19
1247,1265,Asus,Rog GL502VS,Gaming,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,2.34kg,2325.00

In [17]:
import numpy as np

In [18]:
df_laptops['screen_size'] = np.where(df_laptops['Inches'] >15, "Big", 'Small')

In [19]:
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,screen_size
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Small
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Small
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Big
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Big
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Small
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Small
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00,Small
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Big
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00,Big

In [21]:
df_laptops['Ram Tier'] = np.where(df_laptops['Ram'] == '16GB', 'Enough Ram', 'Low  Ram')
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,screen_size,Ram Tier
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Small,Low Ram
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Small,Low Ram
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Big,Low Ram
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Big,Enough Ram
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Small,Low Ram
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Small,Low Ram
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Small,Enough Ram
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00,Small,Low Ram
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Big,Low Ram
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00,Big,Low Ram